<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancle()">&times;</button>
	<p class="modal-title panel-title-size">创建分布式交换机网络</p>
</div>
<div class="modal-body panel-body add-network">
	<form class="form-horizontal form-validation" name="addForm">
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label"><span class="span-red">*</span>交换机名称：</label>
				<div class="control-input">
					<input type="text" name="name" class="form-control" ng-model="addData.name" placeholder="请输入交换机名称" validator="required,name" maxlength="64"/>
				</div>
			</div>
			<div class="col-lg-6">
				<label class="control-label"><span class="span-red">*</span>分布式端口数：</label>
				<div class="control-input">
					<input type="text" name="portGroupNum" class="form-control" ng-model="addData.portGroupNum" placeholder="请输入分布式端口组数量" validator="required,number"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="control-label"><span class="span-red">*</span>数据中心：</label>
				<div class="control-input">
					<select class="form-control" name="centerId" validator="required" required-error-message="请选择数据中心" ng-change="getNetwork()" ng-model="vdcData" ng-options="item.name for item in vmDatacenterList">
						<option value="">--请选择--</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-12 m-t-xs" ng-repeat="(key,item) in networkCards">
				<div class="col-md-12 head">
					<label class="i-checks" ng-click="selectAll(item)">
						<input type="checkbox" ng-model="item.select"><i></i>{{item.name}}
					</label>
					<i class="fa fa-angle-right" ng-show="!item.show" ng-click="showFun(item)"></i>
					<i class="fa fa-angle-down"  ng-show="item.show" ng-click="showFun(item)"></i>
				</div>
				<div class="col-md-12 content m-l" ng-show="item.show">
					<div ng-repeat="itm in item.netcards">
						<label class="i-checks" ng-click="selectCell(item)">
						<input type="checkbox" ng-model="itm.select"><i></i> {{itm.name}}
					</label>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-info" validation-submit="addForm" ng-disabled="addForm.$invalid||isLoadingActive" ng-click="ok()">确认</button>
	<button class="btn btn-cancel" ng-click="cancle()">取消</button>
</div>