<style>
	.search-content .control-label {
		width: 80px!important;
		 text-align: right;
	}
	.hostSearch-form-control {
		width: calc(100% - 85px) !important;
	}
</style>
<div class="clearfix script-content" ng-controller="PersonalMessageCtrl" >
	<div class="wrapper-md">
		<div class="row panel panel-default">
			<!--<div class="col-md-12 search-box m-b-md">
					<div class="legend">查询条件</div>
					<div class="search-content">
						<div class="form-group">
							<label class="control-label">消息名称：</label>
							<input type="text" class="form-control" ng-model="name" placeholder="请输入消息名称"/>
						</div>
						<div class="form-group">
							<label class="control-label">消息状态：</label>
							<select class="form-control"ng-model="status">
								<option value="">全部</option>
								<option ng-repeat="(key,item) in statusData" value="{{key}}" ng-bind="item"></option>
							</select>
						</div>
						<div class="form-group">
							<label class="control-label">创建时间：</label>
							<input ng-model="date" class="form-control w-md" ui-jq="daterangepicker" ui-options="{format: 'YYYY/MM/DD'}" placeholder="请选择时间" />
						</div>
					</div>
					<div class="search-btn">
						<button class="btn btn-primary w-xs m-r" ng-click="search()"><i class="fa fa-search"></i> 查询</button>
						<button class="btn btn-success w-xs m-r" ng-click="reset()"><i class="fa fa-refresh"></i> 重置</button>
					</div>
				</div>-->
			<div class="col-md-12 search-box search-box-r">
				<div class="search-content search-content-r col-sm-12 text-right">
					<div class="form-group-27" style="width: 23%;">
						<label class="control-label">消息状态：</label>
						<select class="form-control hostSearch-form-control"
								ng-model="status"
								ng-change="search()">
							<option value="">全部</option>
							<option ng-repeat="(key,item) in statusData" value="{{key}}" ng-bind="item"></option>
						</select>
					</div>
					<div class="form-group-27" style="width: 23%;">
						<label class="control-label">创建时间：</label>
						<input ng-model="date"
							   ng-change="search()"
							   class="form-control hostSearch-form-control w-md" ui-jq="daterangepicker" ui-options="{format: 'YYYY/MM/DD'}" placeholder="请选择时间" />
					</div>
					<div class=" form-group-27" style="width: 23%;">
						<label class="control-label">消息名称：</label>
						<input type="text" class="form-control hostSearch-form-control" ng-model="name" placeholder="请输入消息名称"/>
					</div>
					<div class="form-group-17 " style="width: 9%">
						<button class="btn btn-primary w-xs " ng-click="search()"><i class="fa fa-search"></i> 查询</button>
					</div>
					<div class="form-group-17 "  style="width: 9%">
						<button class="btn btn-success w-xs " ng-click="reset()"><i class="fa fa-refresh"></i> 重置</button>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="padding: 0px;">
					<div class="table-responsive">
						<table class="table b-light m-b-xxs">
							<thead class="table-header">
							<tr>
								<th width="20%" class="text-center font-15" >消息名称</th>
								<th width="20%" class="text-center font-15">消息状态</th>
								<th width="20%" class="text-center font-15">发送者</th>
								<th width="20%" class="text-center font-15">创建时间</th>
								<th width="20%" class="text-center font-15">操作</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="(key,row) in listData">
								<td width="20%" class="text-center font-15 text-overflow" style="max-width:210px" ng-bind="row.name"></td>
								<td width="20%" class="text-center font-15 text-overflow" style="max-width:209px" ng-bind="row.status|cn:'messageStatus'"></td>
								<td width="20%" class="text-center font-15 text-overflow" style="max-width:209px" ng-bind="row.senderName"></td>
								<td width="20%" class="text-center font-15 text-overflow" style="max-width:209px" ng-bind="row.gmtCreate"></td>
								<td width="20%" class="text-center font-15">
									<div class="btn-group dropdown table-operation" dropdown="">
										<a class="btn btn-info btn-addon" dropdown-toggle=""><i class="fa fa-reorder" ></i>操作</a>
										<ul class="dropdown-menu">
											<li ng-click="goDetail(row)" ><a href="">详情</a></li>
										</ul>
									</div>
									<!--<button class="btn btn-sm btn-danger" ng-click="remove(row.id)"><i class="fa fa-trash-o icon-font"></i> 删除</button>-->
								</td>
							</tr>
							</tbody>
						</table>
						<div class="clearfix">
							<div class="col-sm-6">
								<div class="paginationTables_info">共有<span ng-bind="totalPage"></span>条记录，每页显示<span ng-bind="param.rows"></span>条
								</div>
							</div>
							<div class="col-sm-6 text-right">
								<pagination boundary-links="true" total-items="totalPage" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getList(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
