
<div class="content-byc image-content" ng-controller="addArrangeModalCtrl">
  <div class="animated update-content" >
      <div class="wrapper-md">
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default" style="padding:0;">
                      <div class="panel-heading font-bold">
                          <!--<i class="fa fa-reply icon-font" aria-hidden="true"></i>-->
                          <span class="p-l-6" ng-bind="content"></span>
                          <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                              <i class="fa fa-reply icon-font"></i> 返回
                          </button>
                      </div>
                      <div class="row panel panel-default" style="border:none" ng-controller="NewTaskCopyCtrl">
                        <div class="search-btn m-t-sm" style="    position: absolute;    bottom: 10%;    margin-left: 5px;">
                           <button class="btn btn-info w-sm m-r-md"  ng-click="execute(1)"><i class="fa fa-save"></i>&nbsp;保存</button>
                         </div>
                          <p class="p-l-6" style="    margin-top: 6px;">提示：选择具有相关关系的插件，插件之间连线关联，填写数据，保存。</p>
                        <div  style="position: static">

                          <div class="search-content" style="border-bottom: none">
                            <div class=" task-tab" ng-hide="isHideTab" style="width: 163px;float: left">
                              <div  class="item" ng-repeat="item in nodeData" type="{{item.nodeType}}">
                                <img class="node-img" ng-src="/statics/img/topology/{{item.Image}}" />
                                <span>{{item.text}}</span>
                              </div>
                            </div>
                            <div class="panel" style="width:  calc(100% - 480px);border: 1px solid #dad9d2;border-radius: 5px;float: left">
                              <div id="content" >
                                <canvas id="canvas">sorry,your browser do not support canvas label</canvas>
                              </div>
                              <ul class="node-menu" id="contextmenu" style="display:none;">
                                <li><a tip="1">编辑</a></li>
                                <li><a tip="6" ng-hide="isHideTab">连线</a></li>
                                <li><a tip="2">顺时针旋转</a></li>
                                <li><a tip="3">逆时针旋转</a></li>
                                <li><a tip="4" ng-hide="isHideTab">删除该节点</a></li>
                                <li><a tip="5">取消</a></li>
                              </ul>
                              <ul class="node-menu" id="contextmenustart" style="display:none;">
                                <li><a tip="6" ng-hide="isHideTab">连线</a></li>
                                <li><a tip="2">顺时针旋转</a></li>
                                <li><a tip="3">逆时针旋转</a></li>
                                <li><a tip="5">取消</a></li>
                              </ul>
                              <ul class="node-menu" id="linkmenu" style="display:none;">
                                <li><a tip="1" ng-hide="isHideTab">删除连线</a></li>
                                <!-- <li><a tip="3" >修改名称</a></li> -->
                                <li><a tip="2">取消</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                          <div class="temply" >
                              <div  style="  border: 1px solid #dad9d2;margin-right: 5px" >
                                  <div class="modal-header" style="background-color: #f4f6f7;color: #000">
                                      <p class="modal-title panel-title-size" ><i class="fa fa-cog fa-fw"></i> <span ng-bind="task.modalName"></span></p>
                                  </div>
                                  <div ng-controller="addScriptTaskModalCtrl"  ng-if="task.scriptTask" >
                                      <div class="modal-body panel-body" style="padding: 0" >
                                          <div class="taskModel">
                                              <form class="form-horizontal form-validation" name="addvmForm">
                                                  <div  data-ng-include="'/statics/tpl/process/layout/addmodul.html'">
                                                  </div>
                                              </form>
                                          </div>

                                      </div>
                                      <div class="modal-footer">
                                          <button type="submit" class="btn btn-info" validation-submit="addvmForm"  ng-disabled="addvmForm.$invalid||isLoadingCheck"  ng-click="ok()">保存</button>

                                      </div>
                                  </div>
                                  <div   class="taskModel setting_task">
                                    <div class="task_pop">请拖拽任务控件在此面板进行相应配置</div>
                                  </div>

                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="changelink" style="    position: absolute; display: none;    padding: 20px;    background-color: #40bdbd;">
        <input type="text" name="" value="">

      </div>

  </div>
</div>
