<div ng-controller="infoCtrl" class="clearfix script-content">
	<div class="wrapper-md">
		<div class="panel panel1 panel-default" style="padding: 15px 15px;">
			<div class="">
				<div class="col-md-12 info-box" style="float:none;">
					<div class="legend">
						<span>基本信息</span>
						<button type="submit" class="btn btn-default" ng-show="isEditInfo==1"
						        style="float:right;margin-left:5%;margin-top: -6px;" ng-click="edit()">修改
						</button>
					</div>
					<div class="search-content1" ng-show="isEditInfo==1" style="padding: 10px 20px;">
						<div class="form-group" style="margin-top:20px;">
							<div class="col-lg-6">
								<label class="col-lg-2 control-label">用户名称：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.username"></span>
								</div>
							</div>
							<div class="col-lg-6">
								<label class="col-lg-2 control-label control-label2">真实姓名：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.name"></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<label class="col-lg-2 control-label control-label2">电子邮箱：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.email"></span>
								</div>
							</div>
							<div class="col-lg-6">
								<label class="col-lg-2 control-label control-label2">用户电话：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.phone"></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<label class="col-lg-2 control-label control-label2">移动电话：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.mobile"></span>
								</div>
							</div>
							<div class="col-lg-6">
								<label class="col-lg-2 control-label control-label2">公司名称：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.company"></span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-6">
								<label class="col-lg-2 control-label">组织机构：</label>
								<div class="control-input line-height-34">
									<span ng-bind="userDetail.departName"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="search-content1" ng-show="isEditInfo==2" style="padding: 10px 20px;">
						<form class="form-horizontal form-validation" name="editUser">
							<div class="form-group" style="margin-top:20px;">
								<div class="col-lg-6">
									<label class="col-lg-2 control-label">用户名称：</label>
									<div class="control-input line-height-34">
										<span ng-bind="userDetail2.username"></span>
									</div>
								</div>
								<div class="col-lg-6">
									<label class="control-label control-label2"><span>*</span>真实姓名：</label>
									<div class="control-input width-74">
										<input type="text" name="name" class="form-control" ng-model="userDetail2.name"
										       validator="required,name" maxlength="64" maxlength-error-message="最多输入64个字符">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-6">
									<label class="control-label control-label2"><span>*</span>电子邮箱：</label>
									<div class="control-input width-74">
										<input type="text" name="email" class="form-control" ng-model="userDetail2.email"
										       validator="required,email">
									</div>
								</div>
								<div class="col-lg-6">
									<label class="control-label control-label2"><span>*</span>用户电话：</label>
									<div class="control-input width-74">
										<input type="text" name="phone" class="form-control" ng-model="userDetail2.phone"
										       validator="required,telphone">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-6">
									<label class="control-label control-label2"><span>*</span>移动电话：</label>
									<div class="control-input width-74">
										<input type="text" name="mobile" class="form-control" ng-model="userDetail2.mobile"
										       validator="required,cellphone">
									</div>
								</div>
								<div class="col-lg-6">
									<label class="control-label control-label2">公司名称：</label>
									<div class="control-input width-74">
										<input type="text" name="company" class="form-control" ng-model="userDetail2.company">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-6">
									<label class="col-lg-2 control-label">组织机构：</label>
									<div class="control-input line-height-34">
										<span ng-bind="userDetail2.departName"></span>
									</div>
								</div>
							</div>
						</form>
						<div class="col-md-12" style="margin:-15px 0 10px 0;z-index:1;">
							<div class="col-md-6">
								<button type="submit" class="btn btn-info info-btn" validation-submit="editUser"
								        ng-disabled="editUser.$invalid||isLoadingActive" ng-click="ok()">保存
								</button>
							</div>
							<div class="col-md-6">
								<button type="submit" class="btn btn-cancel info-btn2" ng-click="cancel()">取消</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>