*/target/*
**/.idea/**
*/.settings/*
*.classpath
*.project
*.prefs
*.class
*.iml
*.DS_Store
/.idea/*
*/.svn/*
**/node_modules/**
bocloud.paas.web/src/main/webapp/statics/tpl/application/instance/openstackmessage.html.rej
