<div class="col-md-12">
    <div class="dataTables_wrapper form-inline">
        <div class="row">
            <div class="col-sm-12" style="margin-top: -10px;">
                <table st-table="displayListData" st-safe-src="listDatapod" class="table">
                    <thead class="table-header">
                    <tr>
                        <th width="10%" class="text-center font-15">名称</th>
                        <th width="10%" class="text-center font-15">项目</th>
                        <th width="10%" class="text-center font-15">准备状态</th>
                        <th width="20%" class="text-center font-15">镜像</th>
                        <th width="10%" class="text-center font-15">状态</th>
                        <th width="10%" class="text-center font-15">重启次数</th>
                        <th width="20%" class="text-center font-15">创建时间</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayListData" ng-if="!isImageDataPod">
                        <td width="10%" class="text-center detail-href font-15 text-overflow" title="{{row.name}}"
                            ng-click="listDetail(row,'Pod',$event,clusterProxyIp)" ng-bind="row.name"></td>
                        <td width="10%" class="text-center  font-15 text-overflow" title="{{row.namespace}}"
                            ng-bind="row.namespace"></td>
                        <td width="10%" class="text-center font-15 text-overflow" title="{{row.images}}"
                            ng-bind="row.containersReady"></td>
                        <td width="20%" class="text-center font-15 text-overflow" title="{{row.restartCount}}"
                            ng-bind="row.images  "></td>

                        <td width="10%" class="text-center font-15 text-overflow" title="{{row.status}}"
                            ng-bind="row.status"></td>
                        <td width="10%" class="text-center font-15 text-overflow" title="{{row.restartCount}}"
                            ng-bind="row.restartCount"></td>
                        <td width="20%" class="text-center font-15 text-overflow" title="{{row.createTime}}"
                            ng-bind="row.createTime"></td>

                    </tr>
                    <tr ng-if="isImageDatapod">
                        <td class="td-nodata" colspan="7"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-left">
                            <div>共{{totalpod}}条，每页{{itemsByPage}}条</div>
                        </td>
                        <td colspan="5" class="text-right">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                                 class="no-margin"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <div ng-if="showDetail==5" ng-hide-detail="" class="animated tab-detail"
         ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
        <div class="col-md-12">
            <div class="panel panel-default" style="padding:0;">
                <div class="panel-heading font-bold">
                    <span class="p-l-6">运行实例详情</span>
                </div>
                <div class="panel-body pmb-block" style="border:none;">
                    <div class="form-horizontal">
                        <tabset class="tab-container">
                          
                            <tab>
                                <tab-heading>
                                    详情
                                </tab-heading>
                                <div class="pmbb-body p-l-30">
                                    <h5 class="console-title">状态</h5>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <dl class="dl-horizontal">
                                                <dt title="iP">地址：</dt>
                                                <dd ng-bind="Status.iP"></dd>
                                            </dl>
                                        </div>
                                        <div class="col-lg-6">
                                            <dl class="dl-horizontal">
                                                <dt>节点：</dt>
                                                <dd ng-bind="Status.node"></dd>
                                            </dl>
                                        </div>

                                    </div>
                                    <div class="form-group">

                                        <div class="col-lg-6">
                                            <dl class="dl-horizontal">
                                                <dt title="restartPolicy">重启策略：</dt>
                                                <dd ng-bind="Status.restartPolicy"></dd>
                                            </dl>
                                        </div>

                                    </div>

                                    <h5 class="console-title">模板</h5>
                                    <div class='padding-l-10' ng-repeat="row in Template">
                                        <h5 class="console-title" ng-bind="row.name"></h5>
                                        <div class="form-group">

                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="ports">端口：</dt>
                                                    <dd ng-bind="row.ports"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="image">镜像：</dt>
                                                    <dd ng-bind="row.image"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="mount">挂载卷：</dt>
                                                    <dd ng-bind="row.mount"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.livenessProbe">活性探针：</dt>
                                                    <dd ng-bind="row.livenessProbe"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.readinessProbe">准备探针：</dt>
                                                    <dd ng-bind="row.readinessProbe"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.limits">资源限制：</dt>
                                                    <dd ng-bind="row.limits"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.requests">资源请求：</dt>
                                                    <dd ng-bind="row.requests"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="console-title">容器</h5>
                                    <div class='padding-l-10' ng-repeat="row in Container">
                                        <h5 class="console-title" ng-bind="row.containerName"></h5>
                                        <div class="form-group">
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="mount">重启次数：</dt>
                                                    <dd ng-bind="row.restartCount"></dd>
                                                </dl>
                                            </div>
                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="ports">准备状态：</dt>
                                                    <dd ng-bind="row.ready"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group">

                                            <div class="col-lg-6">
                                                <dl class="dl-horizontal">
                                                    <dt title="image">运行状态：</dt>
                                                    <dd ng-bind="row.state"></dd>
                                                </dl>
                                            </div>
                                        </div>

                                    </div>

                                    <h5 class="console-title">存储卷</h5>
                                    <div class='padding-l-10' ng-repeat="row in Volumes">
                                        <h5 class="console-title" ng-bind="row.volumes"></h5>

                                        <div class="form-group" ng-if="row.flag == 'notFlag'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.type">类型：</dt>
                                                    <dd ng-bind="row.type"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="row.flag == 'notFlag'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.secretName">安全名：</dt>
                                                    <dd ng-bind="row.secretName"></dd>
                                                </dl>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="row.flag == 'flag'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.type">类型：</dt>
                                                    <dd ng-bind="row.type"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="row.flag == 'flag'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.claimName">声称名：</dt>
                                                    <dd ng-bind="row.claimName"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="row.flag == 'flag'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.mode">模式：</dt>
                                                    <dd ng-bind="row.mode"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="row.flag == 'empty'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.type">类型：</dt>
                                                    <dd ng-bind="row.type"></dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="row.flag == 'empty'">
                                            <div class="col-lg-12">
                                                <dl class="dl-horizontal">
                                                    <dt title="row.medium">媒介：</dt>
                                                    <dd ng-bind="row.medium"></dd>
                                                </dl>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    日志
                                </tab-heading>
                                <div class="pmbb-body ">
                                    <div class="col-md-12 search-content">
                                        <div class="col-lg-6">
                                            <label class="control-label">容器：</label>
                                            <select class="form-control kubera" ng-model="options.bucketL" ng-change="getLog()">
                                                <option ng-repeat="(key,item) in Container" value="{{item.containerName}}"
                                                        ng-selected="item.containerName == options.bucketL"
                                                        ng-bind="item.containerName"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-bind-html="logPod" style="background-color: black;      color: #fff;    font-size: 15px;
                                                           overflow-y: scroll;      padding: 10px;  height: 400px;    width: 100%;">

                                    </div>
                                </div>
                            </tab>
                            <tab select="showUps()" ng-show="prompt">
                                <tab-heading>
                                    监测
                                </tab-heading>
                                <div class="pmbb-body p-l-30">
                                    <span class="text-info">(每隔2分钟更新一次数据)</span>
                                    <div class="col-md-12 search-content">
                                        <div class="col-lg-6">
                                            <label class="control-label">容器：</label>
                                            <select class="form-control kuberb" ng-model="options.bucketContainer" ng-change="monitored()">
                                                <option ng-repeat="(key,item) in Container" value="{{item.containerName}}"
                                                        ng-selected="item.containerName==options.bucketContainer"
                                                        ng-show="item.state=='running'||item.state=='Completed'"
                                                        ng-bind="item.containerName"></option>
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label">类型：</label>
                                            <select class="form-control" ng-model="options.bucketDuration" ng-change="monitored()">
                                                <option ng-repeat="(key,item) in timeTypeData" value="{{item.value}}"
                                                        ng-bind="item.name"></option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12" style="height: 500px;width:800px" ng-if="performance&&showUp"
                                         ng-apply-pie-line-charts=""
                                         data="performance.CPU" options="options.cpu"></div>
                                    <div class="col-md-12" style="height: 500px;width:800px" ng-if="performance&&showUp"
                                         ng-apply-pie-line-charts=""
                                         data="performance.MEMORY" options="options.memorypod"></div>
                                    <div class="col-md-12" style="height: 500px;width:800px" ng-if="performance&&showUp"
                                         ng-apply-pie-line-charts=""
                                         data="performance.NETWORK" options="options.network"></div>
                                    <div class="both"></div>

                                </div>
                            </tab>
                             <tab ng-show="prompts" select="getTeminal()">
                                <tab-heading>
                                    终端
                                </tab-heading>
                                <div class="pmbb-body p-l-30">
                                    <div class="col-md-12 search-content">
                                        <div class="col-lg-6">
                                            <label class="control-label">容器：</label>
                                            <select class="form-control kuberc" ng-model="options.bucketT" ng-change="getTeminal()">
                                                <option ng-repeat="(key,item) in Container" value="{{item.containerName}}"
                                                        ng-show="item.state=='running'" ng-selected="item.containerName==options.bucketT"
                                                        ng-bind="item.containerName"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <kubernetes-container-terminal  ng-if="Teminal"  pod="selfLink" container="containerName" prevent="preventSocket" rows="30" cols="100"  screen-keys="true" autofocus="true">
                                    </kubernetes-container-terminal>
                                    <div class="both">

                                    </div>
                                </div>
                            </tab>
                            <tab>
                                <tab-heading>
                                    事件
                                </tab-heading>
                                <div class="pmbb-body ">
                                    <table st-table="displayList" st-safe-src="listEventData" class="table">
                                        <thead class="table-header">
                                        <tr>
                                            <th width="10%" style="max-width:100px" class="text-center font-15">名称</th>
                                            <th width="10%" style="max-width:20px" class="text-center font-15">数量</th>
                                            <th width="20%" style="max-width:20px" class="text-center font-15">时间</th>
                                            <th width="10%" style="max-width:20px" class="text-center font-15">类型</th>
                                            <th width="20%" style="max-width:100px" class="text-center font-15">来源</th>
                                            <th width="10%" style="max-width:100px" class="text-center font-15">原因</th>
                                            <th width="20%" style="max-width:100px" class="text-center font-15">信息</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in displayList" ng-if="!isImageDatad">
                                            <td width="10%" style="max-width:100px" class="text-center  font-15 text-overflow"
                                                title="{{row.name}}" ng-bind="row.name"></td>
                                            <td width="10%" style="max-width:20px" class="text-center font-15 text-overflow"
                                                title="{{row.count}}" ng-bind="row.count"></td>
                                            <td width="20%" style="max-width:20px" class="text-center font-15 text-overflow"
                                                title="{{row.time}}" ng-bind="row.time"></td>
                                            <td width="10%" style="max-width:20px" class="text-center font-15 text-overflow"
                                                title="{{row.type}}" ng-bind="row.type"></td>
                                            <td width="20%" style="max-width:100px" class="text-center font-15 text-overflow"
                                                title="{{row.source}}" ng-bind="row.source"></td>
                                            <td width="10%" style="max-width:100px" class="text-center font-15 text-overflow"
                                                title="{{row.reason}}" ng-bind="row.reason"></td>
                                            <td width="20%" style="max-width:100px" class="text-center font-15 text-overflow"
                                                title="{{row.message}}" ng-bind="row.message"></td>
                                        </tr>
                                        <tr ng-if="isImageDatad">
                                            <td class="td-nodata" colspan="4"></td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="2" class="text-left">
                                                <div>共{{totalEvent}}条，每页{{itemsByPage}}条</div>
                                            </td>
                                            <td colspan="5" class="text-right">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                                                     class="no-margin"></div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </tab>

                        </tabset>

                    </div>
                </div>
                <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>

            </div>
        </div>
    </div>
</div>
