<style>
    .envSelect{
        float: none;margin-bottom: 0px;min-height:35px;margin-top:9px;border:none;padding:0 10px!important;
    }
</style>
<div class="clearfix script-content" >
    <div class="content-byc" ng-controller="systemMonitorCtrl">
            <div class="col-md-12 text-right search-box envSelect" >
                <div class="search-content" style="border: none;">
                    <div class="form-group" style="margin-bottom: -4px;">
                        <label class="control-label" style="width: 94px!important;">运行环境：</label>
                        <select class="form-control" ng-model="searchByEnv" ng-change="changeUrl()" >
                            <option ng-repeat="row in masterList"  ng-selected="row.id==searchByEnv" value="{{row.id}}" ng-bind="row.name"></option>
                        </select>
                    </div>
                </div>
        </div>
        <div class="col-md-12" ng-style="style"  id="system2" ng-if="isShow" >
            <iframe ng-src="{{iframeUrl}}" style="margin-left: -1px;" width="{{width}}" height="{{height}}" id="system" > </iframe>
        </div>
    </div>
</div>
