<div class="content-byc image-content" ng-controller="environmentDetailModalCtrl">
  <div class="animated update-content" >
      <div class="wrapper-md">
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default" style="padding:0;">
                      <div class="panel-heading font-bold">
                          <!--<i class="fa fa-reply icon-font" aria-hidden="true"></i>-->
                          <span class="p-l-6">详情</span>
                          <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                              <i class="fa fa-reply icon-font"></i> 返回
                          </button>
                      </div>
                      <div class="panel-detail">
                          <div class="image-box">
                            <div class="image-box-h text-center">
                              <div class=" col-md-1">
                                <p class="small-box-p"><i class="fa fa-cube"></i></p>
                              </div>
                              <div class="text-left-p col-md-10">
                              <p class="text-left-p col-md-4 textOverflow"><span class="caaa">环境名称：</span><span title="{{supplierDetail.name}}">{{supplierDetail.name}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">状态：</span><span title="{{statusData[supplierDetail.status]}}">{{statusData[supplierDetail.status]}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">代理：</span><span title="{{supplierDetail.proxy}}">{{supplierDetail.proxy}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">平台：</span><span title="{{typeData[supplierDetail.platform]}}">{{typeData[supplierDetail.platform]}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">创建者名称：</span><span title="{{supplierDetail.creator}}">{{supplierDetail.creator}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">创建时间：</span><span title="{{supplierDetail.gmtCreate}}">{{supplierDetail.gmtCreate}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">描述信息：</span><span title="{{supplierDetail.remark}}">{{supplierDetail.remark}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">修改者名称：</span><span title="{{supplierDetail.mender}}">{{supplierDetail.mender}}</span></p>
                                  <p class="text-left-p col-md-4 textOverflow"><span class="caaa">修改时间：</span><span title="{{supplierDetail.gmtModify}}">{{supplierDetail.gmtModify}}</span></p>
                              </div>
                              <div class="both">   </div>
                            </div>
                        </div>
                      </div>
                      <tabset class="tab-container">
                     <!--   <tab >
                          <tab-heading>
                            基本信息
                          </tab-heading>
                          <div class="row panel pad-10"data-ng-include="'/statics/tpl/environment/environment/basicmessage.html'">
                          </div>
                        </tab>-->
                         <tab ng-controller="environmentVmListModalCtrl"  select="getData(1)" >
                          <tab-heading>
                            主机列表
                          </tab-heading>
                          <div class="row panel pad-10" style="box-shadow: none;" data-ng-include="'/statics/tpl/environment/environment/openstackmessage.html'">
                          </div>
                        </tab>
                          <tab select="topology()">
                              <tab-heading>
                                  拓扑
                              </tab-heading>
                              <div class="row">
                                  <div ng-if="itemData">
                                      <div class="row" ng-simple-assets-graph="" node-data="nodeData"   style="height: 600px">
                                      </div>
                                  </div>
                              </div>
                          </tab>
                      </tabset>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
