<div class="content-byc image-content" ng-controller="createEnvironmentModalCtrl" >
    <div class="animated update-content" >
        <div class="wrapper-md">
            <div class="row environmentadd">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">

                            <span class="p-l-6">环境创建</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-detail">
                          <div class="modal-body panel-body">
                              <form class="form-horizontal form-validation" name="addenvForm">
                                  <div class="form-group">
                                      <div class="col-lg-12">
                                          <label class="control-label">环境名称：</label>
                                          <div class="control-input">
                                              <input type="text" name="name" class="form-control"  ng-model="addData.name" placeholder="请输入名称" validator="required,name" maxlength="56"/>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-12">
                                          <label class="control-label">环境类型：</label>
                                          <div class="control-input nav nav-boxes checked-active ">
                                              <a href="" class="nav-box-item driver orchestration-driver r-p5 active">
                                                  <i class=" glyphicon-ok"></i>
                                                  <img src="/statics/img/library-infra-k8s.svg" style="width: 102px;height: 102px;">
                                                  <div class="clip" style="font-size: 12px;margin-top: -20px;">Kubernetes</div>
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group" >
                                      <div class="col-lg-12 text-left">
                                          <label class="control-label">节点来源：</label>
                                          <input class="radio1" type="radio" name="node"
                                                 value="1"  ng-model="nodeType" ng-click="setNodeType(1)"/>
                                          <label style="line-height: 34px;">创建节点</label>
                                          &nbsp; &nbsp;
                                          <input class="radio2" type="radio" name="node"
                                                 value="2"  ng-model="nodeType" ng-click="setNodeType(2)"/>
                                          <label style="line-height: 34px;">添加已有节点</label>
                                      </div>
                                  </div>
                                  <div style="background-color: rgba(108,206,230,0.13);padding-top: 20px;margin:0px 8px 25px 50px;">
                                      <div ng-if="nodeType==1">
                                          <div class="form-group ">
                                              <div class="col-lg-12">
                                                  <label class="control-label">选择可用节点：</label>
                                                  <div class="control-input">
                                                      <div class="col-sm-4" style="padding-left: 0px;">
                                                          <div class="addnode" style="height: 200px;overflow: auto;">
                                                              <span>备选节点</span>
                                                              <p ng-repeat="row in addData.addNodeList" > <input type="checkbox"   ng-model="row.select" > {{row.ip}}</p>
                                                          </div>
                                                      </div>
                                                      <div class="col-sm-2">
                                                          <div class="col-sm-12 m-t">
                                                              <span class="btn btn-success w-xs m-r" ng-click="addNodebtn()"><i class="fa fa-plus"></i> 添加</span>
                                                          </div>
                                                          <div class="col-sm-12 m-t">
                                                              <span class="btn btn-warning w-xs m-r" ng-click="removeNodebtn()"><i class="fa fa-minus"></i> 移除</span>
                                                          </div>

                                                      </div>
                                                      <div class="col-sm-4" style="">
                                                          <div class="addnode" style="height: 200px;overflow: auto;">
                                                              <span>已选节点</span>
                                                              <p ng-repeat="row in addData.removeNodeList" > <input type="checkbox"   ng-model="row.select"> {{row.ip}}</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group" >
                                              <div class="col-lg-12 text-left">
                                                  <label class="control-label">高可用：</label>
                                                  <input class="radio1" type="checkbox" name="highAvai"
                                                         value="1"  ng-model="addData.highAvai" ng-click="addData.checkBoxClick('highAvai')"/>
                                                  <label style="line-height: 34px;">是否实现高可用</label>
                                              </div>
                                              <p style="padding-left: 145px;" class="caaa">备注：若实现高可用，选择节点数必须大于等于3
                                              </p>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-lg-6">
                                                  <label class="control-label">网络网段：</label>
                                                  <div class="control-input">
                                                      <input type="text" name="network" class="form-control"  ng-model="addData.net" placeholder="请输入网络网段,如：172.30.10.10/16" validator="required,network" maxlength="64"/>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <p style="padding-left: 145px;" class="caaa">
                                                  备注：网段格式必须按照输入框格式编写，并且网段必须可用，若格式错误或网段不可用可能会造成环境创建失败
                                              </p>
                                          </div>
                                          <div class="form-group" >
                                              <div class="col-lg-12 text-left">
                                                  <label class="control-label">DNS：</label>
                                                  <input class="radio1" type="checkbox" name="dns"
                                                         value="1"  ng-model="addData.dns" ng-click="addData.checkBoxClick('dns')"/>
                                                  <label style="line-height: 34px;">是否搭建DNS</label>
                                              </div>
                                              <p style="padding-left: 145px;" class="caaa">备注：若选择搭建DNS，监控及负载可以选择搭建，日志可以选择部署</p>
                                          </div>
                                          <div class="form-group" >
                                              <div class="col-lg-12 text-left">
                                                  <label class="control-label">负载均衡：</label>
                                                  <input class="radio1" type="checkbox" name="load"
                                                         value="1"  ng-model="addData.load" ng-click="addData.checkBoxClick('load')"/>
                                                  <label style="line-height: 34px;">是否搭建负载均衡</label>
                                              </div>
                                              <p style="padding-left: 145px;" class="caaa">备注：如果搭建负载均衡；dns必须搭建</p>
                                          </div>
                                          <div class="form-group" >
                                              <div class="col-lg-12 text-left">
                                                  <label class="control-label">监控：</label>
                                                  <input class="radio1" type="checkbox" name="monitor"
                                                         value="1"  ng-model="addData.monitor" ng-click="addData.checkBoxClick('monitor')"/>
                                                  <label style="line-height: 34px;">是否搭建监控</label>
                                              </div>
                                              <p style="padding-left: 145px;" class="caaa">备注：如果搭建监控；dns必须搭建；如果不部署监控组件，则平台监控功能无法获取数据</p>
                                          </div>
                                          <div class="form-group" >
                                              <div class="col-lg-12 text-left">
                                                  <label class="control-label">日志：</label>
                                                  <input class="radio1" type="checkbox" name="log"
                                                         value="1"  ng-model="addData.log" ng-click="addData.checkBoxClick('log')"/>
                                                  <label style="line-height: 34px;">是否部署日志</label>
                                              </div>
                                              <p style="padding-left: 145px;" class="caaa">备注：如果部署日志；dns必须搭建；如果不部署日志收集组件，则平台日志收集功能无法获取日志信息</p>
                                          </div>
                                          <div class="form-group">
                                              <div class="col-lg-6 text-left">
                                                  <label class="control-label">虚拟IP：</label>
                                                  <div class="control-input">
                                                      <input type="text" name="virtualIp" class="form-control"  ng-model="addData.virtualIp" placeholder="请输入虚拟IP,如：172.18.0.0" validator="required,ip_opt" maxlength="64"/>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <p style="padding-left: 145px;" class="caaa">备注：虚拟IP必须可用且未被占用，并且能与节点进行通信</p>
                                          </div>
                                      </div>
                                      <div ng-if="nodeType==2">
                                          <div class="form-group">
                                              <div class="col-lg-6">
                                                  <label class="control-label">主节点IP：</label>
                                                  <div class="control-input">
                                                      <input type="text" name="ip" class="form-control"  ng-model="addData.ip" placeholder="请输入主节点IP" validator="required,ip_opt" maxlength="64"/>
                                                  </div>
                                              </div>
                                              <div class="col-lg-6">
                                                  <label class="control-label">端口：</label>
                                                  <div class="control-input">
                                                      <input type="text" name="port" class="form-control"  ng-model="addData.port" placeholder="请输入端口号,若不填写默认为8080" validator="notRequiredOrPort" maxlength="64"/>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="form-group">
                                              <p style="padding-left: 145px;" class="caaa">备注：kubernetes集群已安装完成且集群正常才可实现集群接管</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-lg-12">
                                          <label class="control-label">描述信息：</label>
                                          <div class="control-input">
                                              <textarea class="form-control" name="remark" placeholder="平台描述" ng-model="addData.remark" maxlength="255"></textarea>
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-info" validation-submit="addenvForm"  ng-click="ok()">确认创建</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
