<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body">
	<form class="form-horizontal form-validation" name="addForm">
    <div class="form-group">
			<div class="col-lg-12">
				<label class="control-label">负载名称：</label>
				<div class="control-input">
					<input type="text" name="name" class="form-control" ng-model="addData.name" placeholder="请输入名称" validator="required,name" maxlength="56"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="control-label">管理IP：</label>
				<div class="control-input">
					<input type="text" name="ip" class="form-control" ng-model="addData.managerIp" placeholder="请输入管理IP" validator="required,ip_opt" maxlength="64"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="control-label">管理端口：</label>
				<div class="control-input">
					<input type="text"  class="form-control" ng-model="addData.port"  name="port" validator="notRequiredOrPort" placeholder="请输入管理端口"  maxlength="64"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="control-label control-label2">类型：</label>
				<div class="control-input nav nav-boxes checked-active ">
					<a href="" class="nav-box-item driver orchestration-driver r-p5 active" style="padding: 5px;margin-left: 20px;" ng-click="selectType(1)">
						<i ng-class="{true:'glyphicon-ok'}[nginx]"></i>
						<img src="/statics/img/image/nginx.png" style="width: 73px;height: 73px;">
						<div class="clip">nginx</div>
					</a>
					<a href="" class="nav-box-item driver orchestration-driver r-p5 active" style="padding: 5px;margin-left: 40px;" ng-click="selectType(2)">
						<i ng-class="{true:'glyphicon-ok'}[f5]"></i>
						<img src="/statics/img/image/f5.png" style="width: 73px;height: 73px;">
						<div class="clip">F5</div>
					</a>
				</div>
				<!--<div class="control-input">
					<select class="form-control" ng-model="addData.type"  name="type" validator="required">
						<option value="">&#45;&#45;请选择&#45;&#45;</option>
						<option ng-repeat="row in typeData1" ng-selected="row.key == addData.type"  value="{{row.key}}" ng-bind="row.value"></option>
					</select>
				</div>-->
			</div>
		</div>
	<!--	<div class="form-group">
			<div class="col-lg-12">
				<label class="control-label control-label2">所属环境：</label>
				<div class="control-input">
					<select class="form-control" ng-model="addData.envId"  name="envId" validator="required">
						<option value="">&#45;&#45;请选择&#45;&#45;</option>
						<option ng-repeat="row in envIdList" ng-selected="row.id==addData.envId"  value="{{row.id}}" ng-bind="row.name"></option>
					</select>
				</div>
			</div>
		</div>-->
	  <div class="form-group">
			<div class="col-lg-12">
				<label class="control-label">描述信息：</label>
				<div class="control-input">
					<textarea class="form-control" name="remark" placeholder="平台描述" ng-model="addData.remark" maxlength="255"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-info" validation-submit="addForm" ng-disabled="addForm.$invalid" ng-click="ok()">确认</button>
	<button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
