<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body">
	<form class="form-horizontal form-validation" name="addForm">
    <div class="form-group">
			<div class="col-lg-4">
				<div class="addnode">
							<span>备选节点</span>
							<p ng-repeat="row in addNode" > <input type="checkbox" name="" value="row.id"> {{row.name}}</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-6 m-t">
					<button class="btn btn-info w-xs m-r" ng-click="addNode($event)"><i class="fa fa-plus"></i> 添加</button>
				</div>
				<div class="col-lg-6 m-t">
				<button class="btn btn-info w-xs m-r" ng-click="removeNode()"><i class="fa fa-plus"></i> 移除</button>
				</div>

			</div>
			<div class="col-lg-4">
				<div class="addnode">
							<span>已选节点</span>
						<p ng-repeat="row in removeNode" > <input type="checkbox" name="" value="row.id"> {{row.name}}</p>
				</div>
			</div>

		</div>
		<div class="form-group">
				<div class="col-lg-6">
						<label class="control-label control-label2">节点：</label>
						<div class="control-input">
								<select class="form-control" ng-model="prop" >
										<option value="">--请选择--</option>
										<option ng-repeat="row in propList"  value="{{row.id}}" ng-bind="row.prop"></option>
								</select>
						</div>
				</div>
				<div class="col-lg-6">
						<label class="control-label control-label2">类型：</label>
						<div class="control-input">
								<select class="form-control" ng-model="prop" >
										<option value="">--请选择--</option>
										<option ng-repeat="row in propList"  value="{{row.id}}" ng-bind="row.prop"></option>
								</select>
						</div>
				</div>
		</div>

	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-info" validation-submit="addForm" ng-disabled="addForm.$invalid" ng-click="ok()">确认</button>
	<button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
