<style>
	.control-label{
		width:90px;
	}
</style>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
	<p class="modal-title panel-title-size">编辑用户</p>
</div>
<div class="modal-body panel-body">
	<form class="form-horizontal form-validation user-form" name="updateUserForm">
		<div class="form-group">
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>用户工号：</label>
				<div class="col-lg-10 control-input">
					<input type="text" name="userId" class="form-control" ng-model="updateData.userId" validator="required,jobNumber" maxlength="16" maxlength-error-message="最多输入16个字符">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>用户性别：</label>
				<div class="col-lg-10 control-input">
					<select class="form-control" name="sex" ng-model="updateData.sex" validator="required">
						<option value="">--请选择--</option>
						<option ng-repeat="row in categoryData" ng-selected="row.value==updateData.sex" value="{{row.value}}" ng-bind="row.name"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>用户名称：</label>
				<div class="col-lg-10 control-input">
					<input type="text" name="username" class="form-control" ng-model="updateData.username" ng-disabled="true">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>真实姓名：</label>
				<div class="col-lg-10 control-input">
					<input type="text" name="name" class="form-control" ng-model="updateData.name" validator="required,name_opt" maxlength="64" maxlength-error-message="最多输入64个字符">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>电子邮箱：</label>
				<div class="col-lg-10 control-input">
					<input type="text" name="email" class="form-control" ng-model="updateData.email" validator="required,email">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>用户电话：</label>
				<div class="col-lg-10 control-input">
					<input type="text" name="phone" class="form-control" ng-model="updateData.phone" validator="required,telphone">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>移动电话：</label>
				<div class="col-lg-10 control-input">
					<input type="text" name="mobile" class="form-control" ng-model="updateData.mobile" validator="required,cellphone">
				</div>
			</div>
			<div class="col-lg-6">
				<label class="col-lg-2 control-label"><span>*</span>组织机构：</label>
				<!--<div class="col-lg-10 control-input">-->
					<!--<input type="text" name="mobile" class="form-control" ng-model="updateData.departName" ng-disabled="true">-->
				<!--</div>-->
				<div class="col-lg-10 addcombotree2" style="width: calc(100% - 120px);">
					<div user-combotree id="mycombotree1" tree-data="treeData" group-id="groupId" group-name="groupName" index="index" class="easyui-combotree control-input"></div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-12">
				<label class="col-lg-2 control-label">用户描述：</label>
				<div class="col-lg-10 control-input">
					<textarea class="form-control" name="remark" ng-model="updateData.remark" maxlength="256" maxlength-error-message="最多输入256个字符"></textarea>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-info" validation-submit="updateUserForm" ng-disabled="updateUserForm.$invalid||isLoadingActive" ng-click="ok()">确认</button>
	<button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>