<div class="col-md-12" style="    margin-bottom: 40px;">
  <div class="col-md-12 assign-cell" ng-repeat="(key,item) in userList">
    <i class="fa icon bg-blue" ng-bind="(key+1)"></i>
    <div class="text-success" style="width: 95%"> <a href="" ng-click="removeGroup(key)"><i class="fa fa-times close pull-right"></i></a></div>
    <div>
      <div class="form-horizontal">
          <div class="">
              <div class="pmbb-header">
                  <h5 class="console-title">基本信息</h5>
              </div>
              <div class="pmbb-body p-l-30">
                  <div class="form-group">
                  	<div class="col-lg-6">
                          <dl class="dl-horizontal">
                              <dt>操作功能：</dt>
                              <dd ng-bind="item.action"></dd>
                          </dl>
                      </div>
   						<div class="col-lg-6">
                          <dl class="dl-horizontal">
                              <dt>操作结果：</dt>
                              <dd ng-bind="item.result"></dd>
                          </dl>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-lg-6">
                          <dl class="dl-horizontal">
                              <dt>操作时间：</dt>
                              <dd ng-bind="item.gmtCreate"></dd>
                          </dl>
                      </div>
                      <div class="col-lg-6">
                          <dl class="dl-horizontal">
                              <dt>操作人：</dt>
                              <dd ng-bind="item.username"></dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>

 </div>
    </div>
  </div>
  <div class="clearfix">
      <div class="col-sm-6" style="padding:7px 15px;">
          <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
      </div>
      <div class="col-sm-6 text-right">
          <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getHistory(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
  </div>
</div>
