<div ng-controller="parameterSystemCtrl"	class="clearfix script-content content-bycs">
  <div class="wrapper-md">

	<div class="panel panel-default">
        <div class="col-md-12 info-box" style="float:none;">
            <div class="col-md-12 search-box search-box-r" style="margin-bottom: 20px;">
                <div class=" col-sm-5" style="padding: 0px;">
                    <button type="submit" class="btn btn-info w-xs m-r" ng-if="isEditInfo==1" ng-click="add()"><i class="fa fa-plus"></i> 新增</button>
                </div>
                <div class="search-content search-content-r col-sm-7 text-right">
                    <div class="form-group-17" >
                        <button type="submit" class="btn btn-default " ng-if="(isEditInfo==1)&&editBtn" ng-click="edit()">修改</button>
                        <button type="submit" class="btn btn-info "   ng-if="isEditInfo==2"  validation-submit="editUser"
                                ng-disabled="editUser.$invalid||isLoadingActive" ng-click="ok()">保存
                        </button>
                    </div>
                    <div class="form-group-17 history-div"  title="历史记录" ng-click="gohistory($event)">
                <span>
                    <i class="fa fa-clock-o"></i>
                </span>
                    </div>

                </div>
            </div>
            <div class="search-content1" ng-show="isEditInfo==1" style="padding: 10px 0px;">
                <div>
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: -30px;">
                                <div class="list-byc" ng-repeat="(name,item) in countData" style="padding: 5px 10px;overflow: hidden" >
                                    <h5 class="console-title">{{name}}</h5>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table b-light m-b-xxs table-navy" style="border: none">

                                                <tbody>
                                                <tr ng-repeat="row in item">
                                                    <td width="30%" class="font-15 text-center" style="max-width:97px;" title="{{row.name}}"><div ng-bind="row.name"></div></td>
                                                    <td width="70%" class="font-15 text-center info" style="max-width:97px;" title="{{row.dictValue}}"><div  ng-bind="row.dictValue"></div></td>
                                             </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-content1" ng-show="isEditInfo==2" style="padding: 10px 0px;">
                <form class="form-horizontal form-validation" name="editUser">
                    <div>
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-sm-12" style="margin-top: -30px;">
                                    <div class="list-byc" ng-repeat="(name,item) in countData1" style="padding: 5px 10px;overflow: hidden" >
                                        <h5 class="console-title">{{name}}</h5>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table b-light m-b-xxs table-navy" style="border: none">

                                                    <tbody>
                                                    <tr ng-repeat="row in item">
                                                        <td width="30%" class="font-15 text-center" style="max-width:97px;" title="{{row.name}}"><div ng-bind="row.name"></div></td>
                                                        <td width="70%" class="font-15 text-center info" style="max-width:97px;">
                                                            <input text="text" style="width: 100%;"  class=" form-control"  ng-model="row.dictValue" name="" validator="required" />
                                                        </td>
                                                    </tr>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
             <!--   <form class="form-horizontal form-validation" name="editUser">
                    <div>
                        <div class="dataTables_wrapper form-inline">
                            <div class="row">
                                <div class="col-sm-12" style="margin-top: -30px;">
                                    <div class="list-byc" ng-repeat="(name,item) in countData1" style="padding: 5px 10px;" >
                                        <h5 class="console-title">{{name}}</h5>
                                        <ul class="list-ul" >
                                            <li class="list-li"  ng-repeat="(key,row) in item" style="width: 25%;">
                                                <div class="list-li-divmodul list-li-div1" ng-class="{true:'border-color',false:'normal-border-color'}[row.isChose]" ng-click="goVm(row.id)" style="min-height: 160px;">
                                                    <div class="name" ng-click="choose()">

                                                        <div >{{row.name}}</div>
                                                        &lt;!&ndash; <div class="address">{{row.address}}</div> &ndash;&gt;

                                                    </div>
                                                    <div>
                                                        <div class="text">
                                                            <span class="control-label" style="width:83px;">Key：</span>
                                                            <span ng-bind="row.dictKey"></span>
                                                            <div style="width: 100%">
                                                                <span  class="control-label" style="width:83px;float: left;">Value：</span>
                                                                <div  style="display:inline-block;width: calc(100% - 90px)!important;float: right">
                                                                    <input text="text" style="width: 100%;" class=" form-control"  ng-model="row.dictValue" name="" validator="required" />
                                                                </div>
                                                                <div class="both"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>-->
                <!--<div class="col-md-12" style="margin:-15px 0 10px 0;z-index:1;">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info " style="width: 20%;margin-left: 82%;height: 35px;" validation-submit="editUser"
                                ng-disabled="editUser.$invalid||isLoadingActive" ng-click="ok()">保存
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-cancel " style="width: 20%;margin-left: 3%;height: 35px;" ng-click="cancel()">取消</button>
                    </div>
                </div>-->
        </div>


	</div>
</div>
<div >
  <div ng-if="showHistory" ng-hide-detail="" class="animated tab-detail"
       ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
       <div class="col-md-12" >
         <div class="panel panel-default" style="padding:0;">
           <div class="panel-heading font-bold">
             <span class="p-l-6">历史记录</span>
           </div>
           <div class="panel-body pmb-block" style="border:none;">
             <div class="form-horizontal">
               <div ng-controller="parameterHistoryModalCtrl" class="row panel pad-10"data-ng-include="'/statics/tpl/system/parameter/historymessage.html'">
               </div>
             </div>
             <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>
           </div>
         </div>
       </div>
  </div>
</div>
</div>
