.message-detail {
  padding: 15px;
  border: 1px solid #eee;
  background: #1C2026;
  color: #fff;
  height: 300px;
  overflow: auto;
}

.assign-cell{
  position: relative;
  min-height: 30px;
  padding: 0 0 20px 30px;
  border-left: 4px solid #ddd;
}
.assign-cell .icon, .alarm-cell .icon{
  position: absolute;
  z-index: 1;
  left: -16px;
  top: -2px;
  width: 30px;
  height: 30px;
  font-style: normal;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
}
.assign-user-list{
  width: 60%;
  padding: 10px;
  background: #eee;
  margin-top: 10px;
}
.assign-cell input{
  padding: 2px 6px;
}
.bg-blue{
  background: #4A9BFF;
}
.bg-green{
  background: #46c37b;
}
a {
  /*color: #337ab7;*/
  /*text-decoration: none;*/
}