<style>
    .datagrid{
        box-shadow: none;
    }
</style>
<div ng-controller="departmentCtrl" class="clearfix script-content">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="">
                <!--<div class="" style="margin-left: 15px;">-->
                    <!--<button class="btn btn-info w-xs m-r" ng-click="add(1,{},$event)"><i class="fa fa-plus"></i> 新增</button>-->
                <!--</div>-->
                <div class="">
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="" style="margin:-10px 0 0 -10px;">
                                <table easy-grid2 id="dg" tree-data="treeData" get-data="getData(param)" add="add(flag,item,$event)" remove="remove(item,$event)" detail="detail(item)" bind="bindHost(item,$event)" class="easyui-treegrid"></table>
                            </div>
                        </div>
                        <div ng-if="showDetail" ng-hide-detail="" class="animated tab-detail" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="padding:0;">
                                    <div class="panel-heading font-bold">
                                        <span class="p-l-6">组织机构详情</span>
                                    </div>
                                    <div class="panel-body pmb-block" style="border:none;">
                                        <div class="form-horizontal">
                                            <div class="">
                                                <div class="pmbb-header">
                                                    <h5 class="console-title">基本信息</h5>
                                                </div>
                                                <div class="pmbb-body p-l-30">
                                                    <div class="form-group">
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>机构名称：</dt>
                                                                <dd ng-bind="departmentDetail.name"></dd>
                                                            </dl>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>机构状态：</dt>
                                                                <dd>
                                                                    <i class="status-dot-style" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[departmentDetail.status]"  ></i>
                                                                    <span class="status-span-style" title="{{departmentDetail.status|cn:'status'}}" ng-bind="departmentDetail.status|cn:'status'"></span>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>修改时间：</dt>
                                                                <dd ng-bind="departmentDetail.gmtModify"></dd>
                                                            </dl>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>其他属性：</dt>
                                                                <dd ng-bind="departmentDetail.props"></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>机构描述：</dt>
                                                                <dd ng-bind="departmentDetail.remark"></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>