<style>
    .modal-body,
    .modal-footer {
        background-color: #fff;
        border: none;
    }

    .modal-body {
        padding-top: 50px;
        min-height: 400px;
    }
    .myblueinput{
        border: 1px solid skyblue;
        border-radius: 3px;
        height: 30px;
        width: 150px;
        margin-right: 20px;
        padding-left: 10px;
    }
</style>
<div class="content-byc image-content" ng-controller="publicSyncModalCtrl">
    <div class="animated update-content" >
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">公有库同步</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div>
                            <div class="modal-body panel-body">
                                <form class="form-horizontal form-validation" name="addvmForm">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <label class="control-label" style="width: 90px;font-size: 14px;color: inherit;">本地仓库：</label>
                                            <div class="control-input" style="width: calc(100% - 700px);">
                                                <select class="form-control" name="repository" ng-model="repositoryId"  ng-change="getProgectAndImage(repositoryId)" validator="required">
                                                    <option value="">--请选择--</option>
                                                    <option ng-repeat="(key,item) in warehoseData"  value="{{item.id}}" ng-bind="item.name"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="projectShow" style="margin-top: 30px;">
                                        <div class="col-lg-12">
                                            <label class="control-label" style="width: 90px;font-size: 14px;color: inherit;">项目：</label>
                                            <div class="control-input" style="width: calc(100% - 700px);">
                                                <div class="special-select m-r-xxs">
                                                    <ui-select ng-model="scriptItemSpace.selected" theme="bootstrap" ng-change="getImageList()">
                                                        <ui-select-match placeholder="搜索一个项目">
                                                            {{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="item in imageData | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="imageShow">
                                        <div class="form-group" style="margin-top: 30px;">
                                            <div class="col-lg-12">
                                                <label class="control-label" style="width: 90px;font-size: 14px;color: inherit;">镜像选择：</label>
                                                <div class="control-input" style="width: calc(100% - 700px);">
                                                    <select class="form-control" name="image" ng-model="mydata.imageInfo"  validator="required" ng-change="getPublicList()">
                                                        <option value="">--请选择--</option>
                                                        <option ng-repeat="row in countData" ng-selected="mydata.imageInfo==row" value="{{row}}" ng-bind="row.name"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="listShow" class="">
                                            <div class="dataTables_wrapper form-inline">
                                                <div class="row">
                                                    <p style="width: 110px;text-align: right;padding-bottom: 12px;">公有库镜像信息</p>
                                                    <div class="col-sm-12" style="margin-top: -10px;max-height: 350px;overflow-y: auto;border: 1px solid #27c24c">
                                                        <table class="table table-hover b-light m-b-xxs">
                                                            <thead class="table-header">
                                                            <tr>

                                                                <th width="5%"  class="text-center font-15">
                                                                    <label class="i-checks m-b-none"></label>
                                                                </th>
                                                                <th width="15%"  class="text-center font-15">名称</th>
                                                                <th width="25%"   class="text-center font-15">版本号</th>
                                                                <th  width="40%"  class="text-center font-15">添加标签</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr class="table-content" ng-repeat="row in countData1">
                                                                <th width="5%" class="text-center font-15">
                                                                    <label class="i-checks m-b-none"><input type="checkbox"  ng-model="row.select" ng-click="choose(row)"><i></i></label>
                                                                </th>
                                                                <td  width="15%"   class="text-center  font-15 text-overflow"  title="{{row.name}}" ng-bind="row.name"></td>
                                                                <td  width="25%" class="text-center font-15 text-overflow"  title="{{row.layer}}" ng-bind="row.layer"></td>
                                                                <td  width="40%"  class="text-center font-15 text-overflow">
                                                                    <input class="myblueinput" type="text" placeholder="tag" ng-model="row.tag" maxlength="64"  maxlength-error-message="最多输入64个字符">
                                                                </td>
                                                            </tr>
                                                            <tr ng-if="isImageData">
                                                                <td class="td-nodata" colspan="10"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||chackIn||isLoadingActive" ng-click="ok()">确认同步</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
