<style>
    .modal-body,
    .modal-footer {
        background-color: #fff;
        border: none;
    }

    .modal-body {
        padding-top: 50px;
        min-height: 400px;
    }

</style>
<div class="content-byc image-content" ng-controller="securityScanCtrl">
    <div class="animated update-content" >
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">安全扫描</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div>
                            <div class="modal-body panel-body">
                                <form class="form-horizontal form-validation" name="addvmForm">
                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <label class="control-label" style="width: 90px;font-size: 14px;color: inherit;">本地仓库：</label>
                                            <div class="control-input" style="width: calc(100% - 700px);">
                                                <select class="form-control" name="repository" ng-model="repositoryId"  ng-change="getProgectAndImage(repositoryId)" validator="required">
                                                    <option value="">--请选择--</option>
                                                    <option ng-repeat="(key,item) in warehoseData"  value="{{item.id}}" ng-bind="item.name"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="projectShow" style="margin-top: 30px;">
                                        <div class="col-lg-12">
                                            <label class="control-label" style="width: 90px;font-size: 14px;color: inherit;">项目：</label>
                                            <div class="control-input" style="width: calc(100% - 700px);">
                                                <div class="special-select m-r-xxs">
                                                    <ui-select ng-model="scriptItemSpace.selected" theme="bootstrap" ng-change="getImageList()">
                                                        <ui-select-match placeholder="搜索一个项目">
                                                            {{$select.selected.name}}
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="item in imageData | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="imageShow">
                                        <div class="form-group" style="margin-top: 30px;">
                                            <div class="col-lg-12">
                                                <label class="control-label" style="width: 90px;font-size: 14px;color: inherit;">镜像选择：</label>
                                                <div class="control-input" style="width: calc(100% - 700px);">
                                                    <select class="form-control" name="image" ng-model="mydata.imageInfo"  validator="required">
                                                        <option value="">--请选择--</option>
                                                        <option ng-repeat="row in countData" ng-selected="mydata.imageInfo==row" value="{{row}}" ng-bind="row.name"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||chackIn||isLoadingActive" ng-click="ok()">安全扫描</button>
                                <!--<button class="btn btn-cancel" ng-click="cancel()">关闭</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
