<style>
    .datagrid{
        box-shadow: none;
    }
</style>
<div ng-controller="permissionCtrl" class="clearfix script-content">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="">
                <div class="" style="margin-left: 15px;">
                    <button class="btn btn-info w-xs m-r" ng-click="add(4,{},$event)"><i class="fa fa-plus"></i> 新增</button>
                </div>

                <div class="">
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="" style="margin:-10px 0 0 -10px;">
                                <table easy-grid id="dg" tree-data="treeData" get-data="getData(param)" add="add(flag,item,$event)" remove="remove(item,$event)" detail="detail(item,$event)" class="easyui-treegrid"></table>
                            </div>
                        </div>
                        <div ng-if="showDetail" ng-hide-detail="" class="animated tab-detail" ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
                            <div class="col-md-12">
                                <div class="panel panel-default" style="padding:0;">
                                    <div class="panel-heading font-bold">
                                        <span class="p-l-6">权限详情</span>
                                    </div>
                                    <div class="panel-body pmb-block" style="border:none;">
                                        <div class="form-horizontal">
                                            <div class="">
                                                <div class="pmbb-header">
                                                    <h5 class="console-title">基本信息</h5>
                                                </div>
                                                <div class="pmbb-body p-l-30">
                                                    <div class="form-group">
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>权限名称：</dt>
                                                                <dd ng-bind="permissionDetail.name"></dd>
                                                            </dl>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>权限状态：</dt>
                                                                <dd>
                                                                    <i class="status-dot-style" ng-class="{'NORMAL':'btn-success','ABNORMAL':'btn-warning'}[permissionDetail.status]"  ></i>
                                                                    <span class="status-span-style" title="{{permissionDetail.status|cn:'status'}}" ng-bind="permissionDetail.status|cn:'status'"></span>
                                                                </dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>修改时间：</dt>
                                                                <dd ng-bind="permissionDetail.gmtModify"></dd>
                                                            </dl>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>其他属性：</dt>
                                                                <dd ng-bind="permissionDetail.props"></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-lg-6">
                                                            <dl class="dl-horizontal">
                                                                <dt>权限描述：</dt>
                                                                <dd ng-bind="permissionDetail.remark"></dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>