<style>
    .envSelect{
        float: none;margin-bottom: 0px;min-height:35px;margin-top:4px;border:none;padding:0 20px!important;
    }
    .p-mt-5{
        margin:5px 0 0 0;
    }
</style>
<div class="panel panel-default" style="padding:0;">

  <div class="clearfix script-content content-bycs" >
    <div class="col-sm-12" style="margin-top: -10px;">
        <div class="list-byc" ng-repeat="(name,item) in countData">
          <h5 class="console-title">{{name}}</h5>
            <ul class="list-ul" >
                <li class="list-li w-25"  ng-repeat="(key,row) in item" ng-if="!isImageData">
                    <div class="list-li-divmodul list-li-div1" ng-class="{true:'border-color',false:'normal-border-color'}[row.isChose]" ng-click="goVm(row.id)">
                    <div class="name" ng-click="choose()">

                      <div >{{row.name}}</div>
                    <!-- <div class="address">{{row.address}}</div> -->

                    </div>
                        <div>
                        <div class="text">
                          <div class="small-box s-bg-primary bg-primary-img">
                            <div class="small-box-h text-center ">
                                <p class="small-box-p"> <img style="width:110px" ng-src="{{row.picturPath}}" alt=""></p>

                            </div>
                          </div>
                          <div class="primary-right">

                            <p>{{row.remark}}</p>

                          </div>
                        </div>
                          <div class="both clear"></div>
                          <div class="primary-bottom">
                            <span style="    float: left;">部署次数：{{row.deployNumber}}</span>
                            <button class="btn btn-success btn-sm" ng-click="goAction(2,row)">
                                <i class="fa cube"></i>
                                <span class="">部署</span>
                            </button>
                          </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

    </div>
  </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="(addvmForm.$invalid||isLoadingActive)" ng-click="ok()">部署</button>

    </div>
</div>
