<div class="content-byc image-content" ng-controller="applydeployModalCtrl" >
    <div class="animated update-content" >
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">

                            <span class="p-l-6">部署信息</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                       <div class="panel-detail">
                          <div class="">
                            <div class="image-box">
                              <div class="image-box-h text-center">
                                <div class=" col-md-1">
                                  <p class="small-box-p"><i class="fa fa-cube"></i></p>
                                </div>
                                <div class="text-left-p col-md-10">
                                <p class="text-left-p col-md-12 padding-td-10"><span  class="caaa">应用</span></p>
                                  <p class="text-left-p col-md-3"><span  class="caaa">应用名称：</span><span>{{supplierDetail.name}}</span></p>
                                  <p class="text-left-p col-md-9"><span  class="caaa">应用描述：</span><span>{{supplierDetail.remark}}</span></p>

                                </div>

                                <div class="both">   </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <tabset class="tab-container">
                           <tab>
                            <tab-heading>
                              镜像部署
                            </tab-heading>
                            <div class="row panel " style="box-shadow: none;" data-ng-include="'/statics/tpl/application/instance/applyDeploy.html'">
                            </div>
                          </tab>
                          <tab  select="codemire()">
                            <tab-heading>
                              编排文件
                            </tab-heading>
                            <div class="row panel" style="box-shadow: none;" data-ng-include="'/statics/tpl/application/instance/applyGridin.html'">
                            </div>
                          </tab>
                          <tab  ng-if="false">
                            <tab-heading>
                              应用商店
                            </tab-heading>

                            <div ng-controller="applyStoreModalCtrl" class="row panel pad-10" style="box-shadow: none;">
                              <div data-ng-include="'/statics/tpl/application/instance/applyStore.html'">

                              </div>
                            </div>
                          </tab>
                        </tabset>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
