<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body">
  <div class="content-byc image-content" >
      <div class="animated update-content" >
          <div class="wrapper-md">
              <div class="row">
                  <div class="">
                    <div class="panel panel-default" style="padding:10px;">
                        <div class="panel-heading font-bold">
                            <!--<i class="fa fa-reply icon-font" aria-hidden="true"></i>-->
                            <span class="p-l-6">部署历史</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                    <table class="table table-hover b-light m-b-xxs">
                      <thead class="table-header">
                        <tr>

                          <th  width="10%" class="text-center font-15">版本号</th>
                          <th width="10%" class="text-center font-15">操作资源对象</th>
                          <th  width="10%"class="text-center font-15">前版本资源数据</th>
                          <th width="10%" class="text-center font-15">请求数据</th>
                          <th  width="10%"class="text-center font-15">操作结果</th>
                          <th  width="10%"class="text-center  font-15"> 操作人</th>
                          <th  width="10%" class="text-center font-15">创建时间</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-content" ng-repeat="row in userList" ng-if="!isImageData">
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.appName}}" ng-bind="row.version"></td>
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.resourceType}}" ng-bind="row.object"></td>
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.resourceName}}" ng-bind="row.dataInfo"></td>
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.currentVersion}}" ng-bind="row.remark"></td>
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.previousVersion}}" ng-bind="row.result"></td>
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.status}}" ng-bind="row.creatorName"></td>
                          <td width="10%" class="text-center font-15 text-overflow"        title="{{row.gmtCreate}}" ng-bind="row.gmtCreate"></td>
                        </tr>
                        <tr ng-if="isImageData">
                          <td class="td-nodata" colspan="10"></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clearfix">
                      <div class="col-sm-6" style="padding: 7px 15px;">
                        <div class="paginationTables_info">
                          总共<span ng-bind="totalCount"></span>条, 每页<span
                            ng-bind="param.rows"></span>条
                        </div>
                      </div>
                      <div class="col-sm-6 text-right">
                        <pagination style="" boundary-links="true"
                          total-items="totalCount" items-per-page="param.rows"
                          max-size="10" ng-model="param.page"
                          ng-change="getData(param.page)" previous-text="&lsaquo;"
                          next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>

</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||isLoadingActive" ng-click="ok()">确认</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
