<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size" >资源配置</p>
</div>
<div class="modal-body panel-body">
      <p class="panel-title-size" style="    padding: 10px;     margin: 0 6px;   background-color: #e6ab52;    color: #fff;">修改资源会重新启动所有该组件下的实例</p>
    <form class="form-horizontal form-validation" name="addvmForm">
      <h5 style="    padding-left: 10px;">资源请求</h5>

        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label">CPU：</label>
                <div class="control-input">
                  <div class="col-lg-9">
                    <input type="number" name="cpuRequest" class="form-control" ng-model="addData.cpuRequest"  >

                  </div>
                  <div class="col-lg-3 nopadding">
                    <select class="form-control" ng-model="$parent.cpuRequest">

                      <option  value="m">millicores</option>
                      <option  value=""> cores</option>
                    </select>
                  </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label">内存：</label>
                <div class="control-input">
                    <div class="col-lg-9">
                        <input type="number" name="memoryRequest" class="form-control" ng-model="addData.memoryRequest"  >

                    </div>
                    <div class="col-lg-3 nopadding">
                        <select class="form-control" ng-model="$parent.memoryRequest">
                            <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==$parent.memoryRequest" ng-bind="item.name"></option>
                        </select>
                    </div>
                    <p  class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">运行实例希望被分配到的，可完全保证的资源量</p>
                </div>
            </div>
        </div>

          <h5 style="    padding-left: 10px;">资源限制</h5>

        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label">CPU：</label>
                <div class="control-input">
                    <div class="col-lg-9">
                        <input type="number" name="cpuLimit" class="form-control"  ng-model="addData.cpuLimit" validator="required" >

                    </div>
                    <div class="col-lg-3 nopadding">
                        <select class="form-control" ng-model="$parent.cpuLimit">
                            <option  value="m"> millicores</option>
                            <option  value=""> cores</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label">内存：</label>
                <div class="control-input">
                  <div class="col-lg-9">
                    <input type="number" name="memoryLimit" class="form-control"  placeholder="参数必须大于4M,小数点不多于2位" ng-model="addData.memoryLimit" validator="required" >

                  </div>
                  <div class="col-lg-3 nopadding">
                    <select class="form-control" ng-model="$parent.memoryLimit">
                      <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==$parent.memoryLimit" ng-bind="item.name"></option>
                        </select>
                  </div>
                    <p class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">运行实例最多能使用的资源量上限</p>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
