
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size" ng-bind="msgName"></p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="addvmForm">
        <p ng-show="deleteBtn" class="panel-title-size" style="    padding: 10px;     margin: 0 6px;   background-color: #e6ab52;    color: #fff;">修改附加配置的内容，不会去检查已创建好的运行实例，如您继续修改或未修改附件配置内容，请点击 “确认”按钮</p>
        <div class="form-group" style="padding: 30px;">
            <div class="col-sm-12 text-left">
                <div class="form-group" ng-show="deleteBtn">
                    <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectD" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 已使用的资源</label>
                    <div class="col-sm-12" ng-if="selectD">
                        <div class="text-left-p col-md-12">

                            <p class="text-left-p col-md-4 "><span class="caaa">资源请求cpu：</span><span  >{{supplierDetail.REQUESTS_CPU}}</span></p>
                            <p class="text-left-p col-md-4"><span class="caaa">资源请求memory：</span><span>{{supplierDetail.REQUESTS_MEMORY}}</span></p>
                            <p class="text-left-p col-md-4"><span class="caaa">资源限制cpu：</span><span >{{supplierDetail.LIMITS_CPU}}</span></p>
                            <p class="text-left-p col-md-4"><span class="caaa">资源限制memory：</span><span >{{supplierDetail.LIMITS_MEMORY}}</span></p>

                            <p class="text-left-p col-md-4" ng-if="supplier.PODS"><span class="caaa">运行实例数：</span><span >{{supplier.PODS}}</span></p>
                            <p class="text-left-p col-md-4" ng-if="supplier.CONFIGMAPS"><span class="caaa">配置实例数：</span><span >{{supplier.CONFIGMAPS}}</span></p>
                            <p class="text-left-p col-md-4" ng-if="supplier.PERSISTENTVOLUMECLAIMS"><span class="caaa">pvc数：</span><span >{{supplier.PERSISTENTVOLUMECLAIMS}}</span></p>
                            <p class="text-left-p col-md-4" ng-if="supplier.SERVICES"><span class="caaa">服务数：</span><span >{{supplier.SERVICES}}</span></p>
                            <p class="text-left-p col-md-4" ng-if="supplier.SERVICES_NODEPORTS"><span class="caaa">服务节点端口数：</span><span >{{supplier.SERVICES_NODEPORTS}}</span></p>

                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectB" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 计算资源</label>
                    <p  class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">设置该应用中，cpu、内存总和的上限和下限值</p>
                    <div class="col-sm-12" ng-if="selectB">
                        <h5 class="text-left" style="padding-top: 15px;">资源请求</h5>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">CPU：</label>
                                <div class="control-input">
                                    <div class="col-sm-8">
                                        <input type="number" name="cpuRequest" validator="required"
                                               min=0 class="form-control"
                                               ng-model="addData.cpuRequest"
                                               maxlength="64" maxlength-error-message="最多输入64个字符">
                                    </div>
                                    <div class="col-lg-4 nopadding">
                                        <select class="form-control" name="cpuRequesta" ng-model="unitData.cpuRequest">

                                            <option  value="m">millicores</option>
                                            <option  value=""> cores</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Memory：</label>
                                <div class="control-input">
                                    <div class="col-sm-8">
                                        <input type="number" name="memoryRequest" validator="required"
                                               class="form-control" ng-model="addData.memoryRequest" min=0
                                               maxlength="64"
                                               maxlength-error-message="最多输入64个字符">

                                    </div>
                                    <div class="col-lg-4 nopadding">
                                        <select class="form-control" name="cpuRequestb" ng-model="unitData.memoryRequest">
                                            <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.memoryRequest" ng-bind="item.name"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-left" style="padding-top: 30px;">资源限制</h5>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">CPU：</label>
                                <div class="control-input">
                                    <div class="col-sm-8">
                                        <input type="number" name="cpuLimit"min=0 validator="required"
                                               class="form-control"
                                               ng-model="addData.cpuLimit" maxlength="64"
                                               maxlength-error-message="最多输入64个字符">
                                    </div>
                                    <div class="col-lg-4 nopadding">
                                        <select class="form-control" ng-model="unitData.cpuLimit">

                                            <option  value="m">millicores</option>
                                            <option  value=""> cores</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Memory：</label>
                                <div class="control-input">
                                    <div class="col-sm-8">
                                        <input type="number" name="memoryLimit" min=0 validator="required"
                                               class="form-control"

                                               ng-model="addData.memoryLimit"
                                               maxlength="64"
                                               maxlength-error-message="最多输入64个字符">

                                    </div>
                                    <div class="col-lg-4 nopadding">
                                        <select class="form-control" ng-model="unitData.memoryLimit">
                                            <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.memoryLimit" ng-bind="item.name"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectA" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 对象数</label>
                    <p  class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">设置该应用中，个别资源对象的数量上限值</p>
                    <div class="col-sm-12" ng-if="selectA">
                        <div class="form-group"
                             ng-repeat="(key,item) in getConfigManageList track by $index">
                            <div class="col-sm-12">
                                <label class="control-label"></label>
                                <div class="control-input">
                                    <div class="col-sm-5 ">
                                        <select class="form-control" ng-model="item.name" ng-change="checkConfigManageList(key)">
                                            <option  value="">--请选择--</option>
                                            <option ng-repeat="items in map"  value={{items.value}} ng-selected="items.value==item.name" ng-bind="items.name"></option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 ">
                                        <input class="form-control"  name="path{{key}}" ng-model="item.path" type="number"
                                               maxlength="64"
                                               maxlength-error-message="最多输入64个字符"/>
                                    </div>
                                    <div class="col-sm-2 deployFa">
                                        <a class="configlista" ng-click="addConfigManages(key)"><i
                                                class="fa  fa-plus"></i></a>
                                        <a class="configlistb" ng-click="removeConfigManage(key)"><i
                                                class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectC" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 附加配置</label>
                    <p  class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">设置运行实例对象、容器对象资源以及默认的容器资源，cpu、内存的上限和下限值；附加配置中属性值修改，不会去检查已创建好运行实例</p>
                    <div class="col-sm-12" ng-if="selectC" style="padding: 20px 0 0 20px ">
                        <div class="form-group">
                            <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectpod" ng-click="setStore(1)"  class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 运行实例极限范围配置</label>
                            <p  class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">设置运行实例中所有容器cpu、内存，总和的上限和下限值</p>
                            <div class="col-sm-12" ng-if="selectpod">

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最大cpu：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="maxPodCpu" class="form-control" ng-model="pod.maxPodCpu"  >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.maxPodCpu">

                                                    <option  value="m">millicores</option>
                                                    <option  value=""> cores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最大内存：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="maxPodMemory" class="form-control" ng-model="pod.maxPodMemory"  >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.maxPodMemory">
                                                    <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.maxPodMemory" ng-bind="item.name"></option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最小cpu：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="minPodCpu" class="form-control"  ng-model="pod.minPodCpu" validator="required" >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.minPodCpu">
                                                    <option  value="m"> millicores</option>
                                                    <option  value=""> cores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最小内存：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="minPodMemory" class="form-control"   ng-model="pod.minPodMemory" validator="required" >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.minPodMemory">
                                                    <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.minPodMemory" ng-bind="item.name"></option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectdefaultContainer" ng-click="setStore(2)" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 默认配置容器资源</label>
                            <p  class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">设置运行实例中所有容器cpu、内存，默认的上限和下限值</p>
                            <div class="col-sm-12" ng-if="selectdefaultContainer">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">默认cpu限制：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="defaultCpu" class="form-control" ng-model="defaultContainer.defaultCpu"  >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.defaultCpu">

                                                    <option  value="m">millicores</option>
                                                    <option  value=""> cores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">默认内存限制：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="defaultMemory" class="form-control" ng-model="defaultContainer.defaultMemory"  >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.defaultMemory">
                                                    <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.defaultMemory" ng-bind="item.name"></option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">默认cpu请求：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="defaultReqCpu" class="form-control"  ng-model="defaultContainer.defaultReqCpu" validator="required" >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.defaultReqCpu">
                                                    <option  value="m"> millicores</option>
                                                    <option  value=""> cores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">默认内存请求：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="defaultReqMemory" class="form-control"   ng-model="defaultContainer.defaultReqMemory" validator="required" >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.defaultReqMemory">
                                                    <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.defaultReqMemory" ng-bind="item.name"></option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="i-checks m-b-none "><input type="checkbox" ng-model="selectcontainer" ng-click="setStore(3)" class="ng-valid ng-dirty ng-valid-parse ng-touched"><i></i> 容器极限范围配置</label>
                            <p class="col-lg-12" style="    color: #bab6b6;       padding: 10px 2px 2px 16px;">设置运行实例中所有容器cpu、内存，上限和下限值</p>
                            <div class="col-sm-12" ng-if="selectcontainer">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最大cpu：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="maxContainerCpu" class="form-control" ng-model="container.maxContainerCpu"  >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.maxContainerCpu">

                                                    <option  value="m">millicores</option>
                                                    <option  value=""> cores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最大内存：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="maxContainerMemory" class="form-control" ng-model="container.maxContainerMemory"  >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.maxContainerMemory">
                                                    <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.maxContainerMemory" ng-bind="item.name"></option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最小cpu：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="minContainerCpu" class="form-control"  ng-model="container.minContainerCpu" validator="required" >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.minContainerCpu">
                                                    <option  value="m"> millicores</option>
                                                    <option  value=""> cores</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="control-label">最小内存：</label>
                                        <div class="control-input">
                                            <div class="col-lg-8">
                                                <input type="number" name="minContainerMemory" class="form-control"   ng-model="container.minContainerMemory" validator="required" >

                                            </div>
                                            <div class="col-lg-4 nopadding">
                                                <select class="form-control" ng-model="unitData.minContainerMemory">
                                                    <option ng-repeat="(key,item) in appResource" value="{{item.value}}"    ng-selected="item.value==unitData.minContainerMemory" ng-bind="item.name"></option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||chackIn||isLoadingActive" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-if="deleteBtn" ng-click="delete()">删除</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
