<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size" >服务暴露</p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="addvmForm">
        <div class="form-group" >
            <div class="col-sm-12">


                    <div class="col-sm-4 ">
                        服务名称
                    </div>
                   <div class="col-sm-4">
                        访问方式
                    </div>
                    <div class="col-sm-4">
                        端口
                    </div>
                <!--<div class="col-sm-6">
                    项目内部路径
                </div>-->

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <div  >
                    <div class="col-sm-4">
                        <div class="special-select m-r-xxs">
                            <select class="form-control" name="name" ng-model="name"  validator="required" ng-change="getsername()">
                                <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                <option ng-repeat="item in serverData"  value="{{item.metadata.name}}" ng-bind="item.metadata.name"></option>
                            </select>
                        </div>
                    </div>
                     <div class="col-sm-4">
                        <div class="special-select m-r-xxs">
                            <select class="form-control" name="sername" ng-model="sername" ng-change="getsername()" validator="required">
                                <option value="http" >http</option>
                                <!--<option value="https" >https</option>-->
                                <!--<option value="tcp" >tcp</option>-->
                               
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="special-select m-r-xxs">
                            <select class="form-control" name="city" ng-model="clusterId"  validator="required">
                                <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                <option ng-repeat="item in portData"  value="{{item}}" ng-bind="item"></option>
                            </select>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <div class="special-select m-r-xxs">
                            <input type="text" name="projectPath" class="form-control" placeholder="例如：/paas,不填则默认为项目根目录: /" ng-model="projectPath" >
                        </div>
                    </div>-->
                    <!--
                    <div class="col-sm-4">
                        <div class="special-select m-r-xxs">
                            <select class="form-control" name="city" ng-model="clusterId"  validator="required">
                                <option value="">&#45;&#45;请选择&#45;&#45;</option>
                                <option ng-repeat="item in portData"  value="{{item}}" ng-bind="item"></option>
                            </select>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12" style="margin-top: -10px;">
            <table class="table table-hover b-light m-b-xxs">
                <thead class="table-header">
                <tr>
                    <th width="20%"  class="text-center font-15">名称</th>
                    <th width="60%"  class="text-center font-15">访问路径</th>
                    <th width="20%"  class="text-center font-15">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-content" ng-repeat="(row,key) in countData" >

                    <td  width="20%"   class="text-center  font-15 text-overflow"  title="{{row}}"  ng-bind="row"></td>
                    <td  width="60%"   class="text-center  font-15 text-overflow"  title="{{key}}" ng-bind="key"></td>
                    <td  width="20%"   class="text-center  font-15 text-overflow" >
                        <button class="btn btn-info" ng-click="deleteServer(row)">删除</button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||chackIn||isLoadingActive" ng-click="ok()">确认</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
