<style>
	.p-mt-5{
		margin:5px 0 0 0;
	}
</style>
<div ng-controller="modelarrangeCtrl"	class="clearfix script-content content-byc">
  <div class="wrapper-md">
    <div class="">
			<div class="panel panel-default padding-0">
				<!--<div class="panel-heading">概述</div>-->
				<div class="panel-detail">
					<div class="col-md-7">
						<div class="image-box">
							<div class="image-box-h text-center">
								<p class="small-box-p"><i class="fa fa-circle-o"></i></p>
								<p class="p-mt-5">总数：<span>{{countopenDetail.TOTAL}}</span></p>
							</div>

						</div>
					</div>
					<div class="col-md-7">
						<div class="image-box">
							<div class="image-box-h text-center">
								<p class="small-box-p"><i class="fa fa-play-circle"></i></p>
								<p class="p-mt-5">运行态：<span>{{countopenDetail.RUNNING}}</span></p>
								<p class="p-mt-5">未运行态：<span>{{countopenDetail.NOT_RUNNING}}</span></p>
							</div>

						</div>
					</div>
					<div class="col-md-7">
						<div class="image-box">
							<div class="image-box-h text-center">
								<p class="small-box-p"><i class="fa fa-clock-o"></i></p>
								<p class="p-mt-5">超时：<span>{{countopenDetail.TIMED_OUT}}</span></p>
							</div>

						</div>
					</div>
					<div class="col-md-7">
						<div class="image-box">
							<div class="image-box-h text-center">
								<p class="small-box-p"><i class="fa fa-minus-circle"></i></p>
								<p class="p-mt-5">终止：<span>{{countopenDetail.TERMINATED}}</span></p>
							</div>

						</div>
					</div>
					<div class="col-md-7">
						<div class="image-box">
							<div class="image-box-h text-center">
								<p class="small-box-p"><i class="fa fa-check-circle"></i></p>
								<p class="p-mt-5">完成：<span>{{countopenDetail.COMPLETED}}</span></p>
							</div>
						</div>
					</div>
          <div class="col-md-7">
            <div class="image-box">
              <div class="image-box-h text-center">
                <p class="small-box-p"><i class="fa fa-exclamation-circle"></i></p>
                <p class="p-mt-5">失败：<span>{{countopenDetail.FAILED}}</span></p>
              </div>

            </div>
          </div>
          <div class="col-md-7">
            <div class="image-box">
              <div class="image-box-h text-center">
                <p class="small-box-p"><i class="fa fa-pause-circle"></i></p>
                <p class="p-mt-5">暂停：<span>{{countopenDetail.PAUSED}}</span></p>
              </div>

            </div>
          </div>
				</div>
			</div>
		</div>
	<div class="panel panel-default">
		<!--<div class="col-md-12 search-box m-b-md" style="float: none;">
			<div class="legend">查询条件</div>
			<div class="search-content">
				<div class="form-group l_350">
					<label class="control-label">名称：</label> <input type="name"
						ng-model="searchByName" class="form-control input-sm"
						placeholder="" aria-controls="DataTables_Table_3">
				</div>
        <div class="form-group l_350" >
          <button class="btn btn-primary w-xs m-r" ng-click="search(1)">
            <i class="fa fa-search"></i> 查询
          </button>
        </div>
			</div>

		</div>-->
		<div class="col-md-12 search-box search-box-r">
			<div class=" col-sm-5" style="padding: 0px;">
				<button class="btn btn-info w-xs m-r" ng-click="goAction(1)">
					<i class="fa fa-plus"></i> 新增
				</button>
				<!--<button class="btn btn-info w-xs m-r" ng-click="gohistory($event)">历史记录</button>-->
			</div>
			<div class="search-content search-content-r col-sm-7 text-right">
				<div class=" form-group-38">
					<label class="control-label" style="width: 80px;">名称：</label> <input type="name"
																	ng-model="searchByName" class="form-control hostSearch-form-control input-sm"
																	placeholder="" aria-controls="DataTables_Table_3">
				</div>
				<div class="form-group-17" >
					<button class="btn btn-primary w-xs" ng-click="search(1)">
						<i class="fa fa-search"></i> 查询
					</button>
				</div>
				<div class="form-group-17 history-div"  title="历史记录" ng-click="gohistory($event)">
                        <span>
                            <i class="fa fa-clock-o"></i>
                        </span>
				</div>
			</div>

		</div>
		<div  ng-show="isListView">
			<div class="dataTables_wrapper form-inline">
				<div class="row">
            <div  data-ng-include="'/statics/tpl/process/workflow/layoutlist.html'">
			</div>
				</div>
				</div>
		</div>
	</div>
</div>
<div >
  <div ng-if="showHistory" ng-hide-detail="" class="animated tab-detail"
       ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
       <div class="col-md-12" >
         <div class="panel panel-default" style="padding:0;">
           <div class="panel-heading font-bold">
             <span class="p-l-6">历史记录</span>
           </div>
           <div class="panel-body pmb-block" style="border:none;">
             <div class="form-horizontal">
               <div ng-controller="modelhistoryModalCtrl" class="row panel pad-10"data-ng-include="'/statics/tpl/application/template/historymessage.html'">
               </div>
             </div>
             <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>
           </div>
         </div>
       </div>
  </div>
</div>
</div>
