
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
<p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body">
  <form class="form-horizontal form-validation" name="addvmForm">
    <div class="form-group">
            <label class="control-label">名称：</label>
            <div class="control-input">
                  <input type="text" name="name"  ng-disabled="name"  class="form-control" ng-model="addData.name" validator="required,account" maxlength="64" maxlength-error-message="最多输入64个字符">
            </div>
    </div>
    <div class="form-group">
            <label class="control-label">版本号：</label>
            <div class="control-input">
                  <input type="text" name="version"   class="form-control" ng-disabled="name" ng-model="addData.version" validator="required,positiveNumber_opt" maxlength="64" maxlength-error-message="最多输入64个字符">
            </div>
    </div>
     <!-- <div class="form-group" ng-repeat="item in inputParam track by $index" >
        <label class="control-label">输入项：</label>
		<div class="control-input">
        <div class="col-lg-11 nopadding">
          <input class="form-control" name="value{{item}}" placeholder="value" ng-model="item"  maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
        </div>
 		</div>
    </div>
    <div class="form-group" ng-repeat="(i,item) in inputParameters track by $index">
        <label class="control-label">输入项：</label>
		<div class="control-input">
        <div class="col-lg-11 nopadding">
          <input class="form-control" name="value{{item}}" placeholder="value" ng-model="inputParameters[i]"  maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
        </div>
        <div class="col-lg-1 deployFa">
          <a  ng-click= "addEnvs(inputParameters)"><i class="fa  fa-plus"></i></a>
             <a  ng-click="removeEnv(inputParameters)"><i class="fa fa-minus"></i></a>
          </div>
        </div>
    </div> -->

    <!-- <div class="form-group" ng-repeat="(key,item) in outputParameters track by $index">

        <label class="control-label">输出项：</label>
        <div class="control-input">
          <div class="col-lg-5 nopadding">
            <input class="form-control" name="keys{{key}}" placeholder="key" ng-model="item.keys" validator="evn_opt"  maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
          </div>
          <div class="col-lg-6">
            <input class="form-control " name="values{{key}}" placeholder="value" ng-model="item.values"  maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
          </div>
        <div class="col-lg-1 deployFa">
          <a  ng-click= "addLabels(key)"><i class="fa  fa-plus"></i></a>
             <a  ng-click="removeLabel(key)"><i class="fa fa-minus"></i></a>
          </div>
          </div>
    </div> 
    <div class="form-group">
        <div class="col-sm-10">
            <label class="control-label">立即执行：</label>
        <!--    <div class="col-sm-3" style="width: 180px;">
                <input class="radio1" type="radio" name="superSet" ng-model="isSuper"
                       ng-click="highSet(1)"/>
                <label style="line-height: 34px;">是</label>
                <input class="radio2" type="radio" name="superSet" ng-model="isSuper"
                       ng-click="highSet(0)"/>
                <label style="line-height: 34px;">否</label>
            </div>
            <div class="control-input text-left" style="padding-top: 5px;">
                <switch id="isSetHigh" name="isSetHigh" ng-model="isSetHigh"
                    class="green"></switch>
                <br>&nbsp;&nbsp;{{enabledData[isSetHigh]}}
            </div>
        </div>
    </div>-->
    <div class="form-group">

           <label class="control-label">描述：</label>
           <div class="control-input">
             <textarea class="form-control ng-pristine ng-untouched ng-valid ng-valid-maxlength" name="description" ng-model="addData.description" maxlength="256" maxlength-error-message="最多输入256个字符"></textarea>
           </div>

   </div>
  </form>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-info" validation-submit="addvmForm"  ng-disabled="addvmForm.$invalid||isLoadingCheck"  ng-click="ok()">确认</button>
<button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
