
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
<p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body">
  <form class="form-horizontal form-validation" name="addvmForm">
    <div class="form-group">

            <label class="control-label">名称：</label>
            <div class="control-input">
                  <input type="text" name="name"  ng-disabled="addData.name"  class="form-control" ng-model="addData.name" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
            </div>

    </div>
    <div class="form-group">

            <label class="control-label">版本号：</label>
            <div class="control-input">
                  <input type="text" name="version"   class="form-control" ng-disabled="addData.version" ng-model="addData.version" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
            </div>

    </div>
    <div class="form-group" ng-repeat="(key,item) in inputParametersList track by $index">

        <label class="control-label">输入项：</label>
        <div class="control-input" >
          <div class="col-lg-5 nopadding">
            <input class="form-control " name="key{{key}}" placeholder="key" ng-model="item.key" validator="evn_opt" maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
          </div>
        <div class="col-lg-6">
          <input class="form-control" name="value{{key}}" placeholder="value" ng-model="item.value"  maxlength="64" maxlength-error-message="最多输入64个字符" type="text" />
        </div>
        <div class="col-lg-1 deployFa">
          <a  ng-click= "addEnvs(key)"><i class="fa  fa-plus"></i></a>
             <a  ng-click="removeEnv(key)"><i class="fa fa-minus"></i></a>
          </div>
        </div>

    </div>

  </form>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-info" validation-submit="addvmForm"  ng-disabled="addvmForm.$invalid||isLoadingCheck"  ng-click="ok()">确认</button>
<button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>
