
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
<p class="modal-title panel-title-size" ng-bind="modalName"></p>
</div>
<div class="modal-body panel-body" style="min-height:500px">
  <div class="pmbb-header">
      <h5 class="console-title">job名称：{{jobname}}</h5>
  </div>
  <table st-table="displayListData" st-safe-src="historyList" class="table" style="margin-bottom:60px">
    <thead class="table-header">
      <tr>
        <th  width="20%" class="text-center font-15">构建序列</th>
        <th width="20%" class="text-center font-15">队列ID</th>
          <th  width="40%"class="text-center font-15">访问路径</th>
         <th  width="20%"class="text-center font-15">创建时间</th>


      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayListData"       ng-if="!isImageData" width="5%">
        <td width="20%"  class="text-center detail-href font-15 "    ng-click="aaa(row)"   title="{{row.number}}" ng-bind="row.number"></td>
        <td width="20%" class="text-center font-15 "        title="{{row.queueId}}" ng-bind="row.queueId"></td>
        <td width="40%" class="text-center font-15 "        title="{{row.url}}" ng-bind="row.url"></td>
        <td width="20%" class="text-center font-15 "        title="{{row.createTime}}" ng-bind="row.createTime"></td>


      </tr>
      <tr ng-if="isImageData">
        <td class="td-nodata" colspan="4"></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3" class="text-left">
          <div>共{{totalList}}条，每页{{itemsByPage}}条</div>
        </td>
        <td colspan="7" class="text-right">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
               class="no-margin"></div>
        </td>
      </tr>
      </tfoot>
  </table>

</div>
<div class="modal-footer">
<button class="btn btn-cancel" ng-click="cancel()">关闭</button>
  <div ng-if="showDetailContainer">
    <div ng-if="showDetail==7" ng-hide-detail="" class="animated tab-detail"
         ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
      <div class="col-md-12">
        <div class="panel panel-default" style="padding:0;">
          <div class="panel-heading font-bold">
            <span class="p-l-6">日志展示</span>
          </div>
          <div class=" pmb-block" style="border:none;">
            <div class="form-horizontal" >
              <div ng-bind-html="logPod" style="background-color: black;  height:500px;overflow:auto;padding: 10px;    color: #fff;    font-size: 15px;">

            </div>
            <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
