<div class="content-byc image-content" ng-controller="workflowDetailModalCtrl">
  <div class="animated update-content" >
      <div class="wrapper-md">
          <div class="row">
              <div class="col-md-12">
                  <div class="panel panel-default" style="padding:0;">
                      <div class="panel-heading font-bold">
                          <!--<i class="fa fa-reply icon-font" aria-hidden="true"></i>-->
                          <span class="p-l-6">详情</span>
                          <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                              <i class="fa fa-reply icon-font"></i> 返回
                          </button>
                      </div>
                      <div class="panel-detail">
                          <div class="image-box">
                            <div class="image-box-h text-center">
                              <div class=" col-md-1">
                                <p class="small-box-p"><i class="fa fa-cube"></i></p>
                              </div>
                              <div class="text-left-p col-md-10">
                              <div class="text-left-p col-md-12 padding-td-10">流程编排

		                              <button  type="button" ng-repeat="row in statusListData"  class="btn btn-xs {{row.class}}" ng-click="manager(row.key)" >
			                              <span>{{row.value}}</span>
		                              </button>

                              </div>
                                <p class="text-left-p col-md-3 name_len"><span class="caaa">名称：</span><span title="{{detailJson.name}}">{{detailJson.name}}</span></p>
                                <p class="text-left-p col-md-9"><span class="caaa">ID：</span><span title="{{detailJson.workflowId}}">{{detailJson.workflowId}}</span></p>
                              </div>
                              <div class="both">   </div>
                            </div>


                        </div>
                      </div>
                      <tabset class="tab-container">

                        <tab >
                          <tab-heading>
                            流程图
                          </tab-heading>
                          <div class="row panel pad-10" style="box-shadow: none;">
                            <div class="row" ng-spider-common-ten="" node-data="postData" array-tasks="supplierDetail.tasks" change-data="changeData" ng-if="postData&&supplierDetail"  style="width: 1000px;height: 400px;">		</div>
                          </div>
                        </tab>
                        <tab >
                          <tab-heading>
                            JSON
                          </tab-heading>
                          <pre style="  border: 1px solid #aaa;  padding: 0.5em 1.5em;" id="json-renderer"></pre>
                        </tab>
                        <tab>
                           <tab-heading>
                             任务列表
                           </tab-heading>
                           <div  class="row panel pad-10"style="box-shadow: none;" data-ng-include="'/statics/tpl/process/workflow/tasklist.html'">
                           </div>
                         </tab>
              <!--              <tab >
                          <tab-heading>
                            输入/输出
                          </tab-heading>
                          <pre style="  border: 1px solid #aaa;     min-height:120px;         padding: 0.5em 1.5em;" id="json-rendererin"></pre>
                           <pre style="  border: 1px solid #aaa;   min-height:120px;            padding: 0.5em 1.5em;" id="json-rendererout"></pre>

                        </tab> -->
                      </tabset>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
