<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size">创建项目卡片</p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="addRoleForm">
        <div style="padding-top: 0px;">
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label">项目类型：</label>
                    <div class="col-lg-10 control-input">
                        <select class="form-control" ng-model="addtype">
                            <option value="">--请选择--</option>
                            <option ng-repeat="row in typeData" ng-selected="row==addtype" value="{{row}}" ng-bind="row"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="app-add-bd">
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label">基础镜像：</label>
                    <div class="col-lg-10 control-input">
                        <select class="form-control" ng-model="addData.type">
                            <option value="">&#45;&#45;请选择&#45;&#45;</option>
                            <option ng-repeat="row in typeData" ng-selected="row==addData.type" value="{{row}}" ng-bind="row"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label">依赖服务：</label>
                    <div class="col-lg-10 control-input">
                        <select class="form-control" ng-model="addData.type">
                            <option value="">&#45;&#45;请选择&#45;&#45;</option>
                            <option ng-repeat="row in typeData" ng-selected="row==addData.type" value="{{row}}" ng-bind="row"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label">脚本命令：</label>
                    <div class="col-lg-10 control-input">
                        <input type="text" name="remark" class="form-control" ng-model="addData.remark" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-top: 20px;">
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label" style="margin-right: 16px;">Dockerfile：</label>
                    <div class="radio">
                        <label class="i-checks" style="margin-right: 70px;">
                            <input type="radio" name="DockerFileType" value="option1" checked>
                            <i></i>
                            使用代码仓库中的Dockerfile
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="DockerFileType" value="option1">
                            <i></i>
                            使用云端创建Dockerfile
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label">镜像名称：</label>
                    <div class="col-lg-10 control-input">
                        <input type="text" name="remark" class="form-control" ng-model="addData.remark" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label" style="margin-right: 16px;">仓库类型：</label>
                    <div class="radio">
                        <label class="i-checks" style="margin-right: 50px;">
                            <input type="radio" name="RegistryType" value="option1" checked>
                            <i></i>
                            镜像仓库
                        </label>
                        <label class="i-checks" style="margin-right: 50px;">
                            <input type="radio" name="RegistryType" value="option1">
                            <i></i>
                            Docker Hub
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="RegistryType" value="option1">
                            <i></i>
                            自定义仓库
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label" style="margin-right: 16px;">镜像版本：</label>
                    <div class="radio">
                        <label class="i-checks" style="margin-right: 50px;">
                            <input type="radio" name="imgType" value="option1" checked>
                            <i></i>
                            以代码分支名为tag
                        </label>
                        <label class="i-checks" style="margin-right: 50px;">
                            <input type="radio" name="imgType" value="option1">
                            <i></i>
                            时间戳为tag
                        </label>
                        <label class="i-checks">
                            <input type="radio" name="imgType" value="option1">
                            <i></i>
                            自定义tag
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <label class="col-lg-2 control-label" style="margin-right: 16px;">构建缓存：</label>
                    <label class="i-switch m-t-xs m-r">
                        <input type="checkbox" checked>
                        <i></i>
                    </label>
                </div>
            </div>
        </div>-->
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" validation-submit="addRoleForm" ng-disabled="addRoleForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>