<div ng-controller="warehouseCtrl" class="clearfix script-content content-byc">
    <div class="wrapper-md">
        <div class="panel panel-default">
            <!--  <div class="col-md-12 search-box m-b-md" style="float:none;">
                    <div class="legend">查询条件</div>
                    <div class="search-content">
                        <div class="form-group w-4">
                            <label class="control-label">名称：</label>
                            <input type="name" ng-model="searchByName" class="form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                        </div>
                       <div class="form-group w-4">
                            <label class="control-label">创建人：</label>
                            <select class="form-control" ng-model="$parent.userid">
                      				<option value="">全部</option>
                      				<option ng-repeat="(key,item) in userData" value="{{item.id}}" ng-bind="item.name"></option>
                      			</select>
                        </div>
                        &lt;!&ndash; <div class="form-group">
                            <label class="control-label">属性：</label>
                            <select class="form-control" ng-model="$parent.popr">
	                             <option value="">全部</option>
                              <option  value="0"> 公有</option>
                              <option  value="1"> 私有</option>
                            </select>
                        </div> &ndash;&gt;
                        <div class="form-group w-4">
                            <label class="control-label">仓库：</label>
                            <select class="form-control" ng-model="$parent.repositoryId">
	                             <option value="">全部</option>
                              <option ng-repeat="(key,item) in warehoseData" value="{{item.id}}" ng-bind="item.name"></option>
                            </select>
                        </div>
                        <div class="form-group w-4">
                            <button class="btn btn-primary w-xs m-r" ng-click="search(1)"><i class="fa fa-search"></i> 查询</button>
                        </div>
                    </div>
                    <div class="search-btn">
                        <button class="btn btn-danger w-xs m-r" ng-click="deteleAll()" ng-disabled="operation.isBatch1"><i class="fa fa-trash-o fa-lg"></i> 批量删除</button>
                         <button class="btn btn-info w-xs m-r" ng-click="goAction(5)"><i class="fa fa-plus"></i> 导入</button>
                        <button class="btn btn-info w-xs m-r" ng-click="gohistory($event)">历史记录</button>
                        <button class="btn btn-success w-xs m-r" ng-click="goAction(7)"><i class="fa fa-plus"></i> 构建</button>
                    </div>
                </div>
-->
            <div class="col-md-12 search-box search-box-r">
                <div class=" col-sm-4" style="padding: 0px;">
                    <button class="btn btn-danger w-xs m-r" ng-click="deteleAll()" ng-disabled="operation.isBatch1"><i class="fa fa-trash-o fa-lg"></i> 批量删除</button>
                    <button class="btn btn-info w-xs m-r" ng-click="goAction(5)"><i class="fa fa-plus"></i> 导入</button>
                    <!--<button class="btn btn-success w-xs m-r" ng-click="goAction(7)"><i class="fa fa-plus"></i> 构建</button>-->
                </div>
                <div class="search-content search-content-r col-sm-8 text-right">
                    <!--<div class="form-group-27">-->
                        <!--<label class="control-label" style="width:70px!important;" >创建人：</label>-->
                        <!--<select class="form-control hostSearch-form-control"-->
                                <!--ng-model="$parent.userid"-->
                                <!--ng-change="search(1)" style="  width: calc(100% - 75px)!important;" >-->
                            <!--<option value="">全部</option>-->
                            <!--<option ng-repeat="(key,item) in userData" value="{{item.id}}" ng-bind="item.name"></option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="form-group-27">
                        <label class="control-label" style="width: 80px;">仓库：</label>
                        <select class="form-control hostSearch-form-control"
                                ng-model="$parent.repositoryId"
                                ng-change="search(1)">
                            <option value="">全部</option>
                            <option ng-repeat="(key,item) in warehoseData" value="{{item.id}}" ng-bind="item.name"></option>
                        </select>
                    </div>
                    <div class=" form-group-24">
                        <label class="control-label" style="width: 80px;">名称：</label>
                        <input type="name" ng-model="searchByName" class="form-control hostSearch-form-control input-sm" placeholder="" aria-controls="DataTables_Table_3">
                    </div>
                    <div class="form-group-17" style="width: 13%;">
                        <button class="btn btn-primary w-xs" ng-click="search(1)"><i class="fa fa-search"></i> 查询</button>
                    </div>
                    <div class="form-group-17 history-div"  title="历史记录" ng-click="gohistory($event)">
                        <span>
                            <i class="fa fa-clock-o"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="">
                    <div class="dataTables_wrapper form-inline">
                        <div class="row">
                            <div class="col-sm-12" style="margin-top: -10px;">
                                <table class="table table-hover b-light m-b-xxs">
                                    <thead class="table-header">
                                    <tr>

                                      <th width="5%"  class="text-center font-15">
                                        <label class="i-checks m-b-none"><input type="checkbox" ng-model="operation.isALl" ng-click="selectALl()"><i></i></label>
                                      </th>
                                      	<th width="15%"  class="text-center font-15">名称</th>
                                        <th width="12%" class="text-center font-15">项目</th>
                                        <th width="10%"   class="text-center font-15">版本</th>
                                        <th  width="10%"  class="text-center font-15">仓库</th>
                                        <!-- <th  width="10%"  class="text-center font-15">属性</th> -->
                                        <!-- <th  width="10%"  class="text-center font-15">类型</th> -->
                                        <th  width="10%"  class="text-center font-15">创建人</th>
                                          <th  width="10%"  class="text-center font-15">时间</th>
                                        <th  width="10%" class="text-center td-operate font-15" >操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="table-content" ng-repeat="row in countData" ng-if="!isImageData">
                                    <th width="5%" class="text-center font-15">
                                        <label class="i-checks m-b-none"><input type="checkbox" ng-model="row.select" ng-click="choose()"><i></i></label>
                                    </th>
                                     <td  width="15%"   class="text-center detail-href font-15 text-overflow"  title="{{row.name}}" ng-click="detail(row.id)" ng-bind="row.name"></td>
                                        <td  class="text-center font-15 text-overflow"  title="{{row.namespace}}" ng-bind="row.namespace"></td>
                                        <td  width="10%"  class="text-center font-15 text-overflow"  title="{{row.tag}}" ng-bind="row.tag"></td>
                                        <td  width="10%"  class="text-center font-15 text-overflow"  title="{{row.repositoryName}}" ng-bind="row.repositoryName"></td>
                                        <!-- <td width="10%"   class="text-center font-15 text-overflow"  title="{{row.props}}" ng-bind="row.property|imageProp:'prop'"></td> -->
                                        <!-- <td  width="10%"  class="text-center font-15 text-overflow"  title="{{row.type}}" ng-bind="row.type|imageType:'type'"></td> -->
                                        <td  width="10%"  class="text-center font-15 text-overflow"  title="{{row.creatorName}}" ng-bind="row.menderName"></td>
                                        <td width="10%"   class="text-center font-15 text-overflow"  title="{{row.gmtModify}}" ng-bind="row.gmtModify"></td>
                                        <td  width="10%" class="td-operate text-center">
                                          <div class="btn-group dropdown table-operation" dropdown="">
                                            <a class="btn btn-info btn-addon" dropdown-toggle=""><i class="fa fa-reorder" ></i>操作</a>
                                            <ul class="dropdown-menu">
                                                <li ng-click="goAction(3,row.id)" ><a href="">删除</a></li>
                                                <li ng-click="goAction(4,row.id)"><a href="">部署</a></li>
                                                <!-- <li ng-click="goAction(6,row.id)"><a href="">授权</a></li> -->


                                            </ul>
                                          </div>
                                      </td>
                                    </tr>
                                    <tr ng-if="isImageData">
                                        <td class="td-nodata" colspan="10"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                    <div class="col-sm-6" style="padding:7px 15px;">
                                        <div class="paginationTables_info">总共<span ng-bind="totalCount"></span>条, 每页<span ng-bind="param.rows"></span>条</div>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <pagination style="" boundary-links="true" total-items="totalCount" items-per-page="param.rows" max-size="10" ng-model="param.page" ng-change="getData(param.page)" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
    <div >
      <div ng-if="showHistory" ng-hide-detail="" class="animated tab-detail"
           ng-class="{true:'bounceInRight',false:'bounceOutRight'}[isActive]">
           <div class="col-md-12" >
             <div class="panel panel-default" style="padding:0;">
               <div class="panel-heading font-bold">
                 <span class="p-l-6">历史记录</span>
               </div>
               <div class="panel-body pmb-block" style="border:none;">
                 <div class="form-horizontal">
                   <div ng-controller="warehousehistoryModalCtrl" class="row panel pad-10"data-ng-include="'/statics/tpl/repository/image/historymessage.html'">
                   </div>
                 </div>
                 <div class="detail-go-back" ng-click="goBack()"><i class="fa fa-angle-right"></i></div>
               </div>
             </div>
           </div>
      </div>
    </div>
</div>
</div>
