<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size">编辑项目</p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation" name="addHostForm">
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label" style="margin-right: 16px;">仓库类型：</label>
                <div class="radio">
                    <label class="i-checks" style="margin-right: 70px;">
                        <input type="radio" name="DockerFileType" value="0" ng-model="wareType" ng-change="radioChecked()">
                        <i></i>
                        git
                    </label>
                    <label class="i-checks" style="margin-right: 70px;">
                        <input type="radio" name="DockerFileType" value="1" ng-model="wareType" ng-change="radioChecked()">
                        <i></i>
                        gitLab
                    </label>
                    <label class="i-checks" style="margin-right: 70px;">
                        <input type="radio" name="DockerFileType" value="2" ng-model="wareType" ng-change="radioChecked()">
                        <i></i>
                        SVN
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">仓库地址：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="ip" class="form-control" ng-model="addData.ip" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
                    <div class="file-btn btn btn-info" ng-show="getFen" style="top:0px;overflow: hidden;position: absolute;right:14px">
                        <i class="fa fa-upload"></i>获取分支
                        <span><input type="button" ng-hide="updataBtn" style=""></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="codeFen">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">代码分支：</label>
                <div class="col-lg-10 control-input">
                    <select class="form-control" ng-model="addData.type">
                        <option value="">--请选择--</option>
                        <option ng-repeat="row in typeData" ng-selected="row==addData.type" value="{{row}}" ng-bind="row"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="showname">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">用户名：</label>
                <div class="col-lg-10 control-input">
                    <input type="text" name="username" class="form-control" ng-model="addData.username" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="showpsw">
            <div class="col-lg-12">
                <label class="col-lg-2 control-label">密码：</label>
                <div class="col-lg-10 control-input">
                    <input type="password" name="psw" class="form-control" ng-model="addData.psw" validator="required" maxlength="64" maxlength-error-message="最多输入64个字符">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" validation-submit="addHostForm" ng-disabled="addHostForm.$invalid" ng-click="ok()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>