<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size">虚机离线迁移</p>
</div>
<div class="modal-body panel-body ownremovestyle">
    <p style="margin: 0 20px 10px 5px;">你已经选择了<span>“{{name}}”</span>，请确认你的选择。迁移实例可能会引起一些不可恢复的结果。</p>
</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="ok()">确认</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>