<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
    <p class="modal-title panel-title-size">虚机在线迁移</p>
</div>
<div class="modal-body panel-body">
    <form class="form-horizontal form-validation user-form" name="addvmForm">
        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label">当前主机：</label>
                <div class="control-input">
                    <input type="text" name="hostName" class="form-control" ng-model="hostName" readonly/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <label class="control-label"><span>*</span>新主机：</label>
                <div class="control-input">
                    <select class="form-control" ng-model="syncData.hostId" name="hostId" ng-click="checkHost()" validator="required">
                        <option value="">--请选择--</option>
                        <option ng-repeat="row in hostData" ng-selected="row.uuid==syncData.hostId" value="{{row.uuid}}" ng-bind="row.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom:0;">
            <div class="col-lg-12" style="padding-left:40px;">
                <label class="i-checks m-b-none"><input type="checkbox" ng-model="syncData.diskOverCommit"><i></i></label>
                <span>允许磁盘超量</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-12" style="padding-left:40px;">
                <label class="i-checks m-b-none"><input type="checkbox" ng-model="syncData.blockMigration"><i></i></label>
                <span>块迁移</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||isLoadingActive" ng-click="ok()">确认</button>
    <button class="btn btn-cancel" ng-click="cancel()">取消</button>
</div>