
<div class="content-byc image-content" ng-controller="modelgridinCtrl">
    <div class="animated update-content" >
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">

                            <span class="p-l-6">部署信息</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBack()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                       <div class="panel-detail">

                         <div >
                           <div class="modal-body" style="min-height:400px">
                               <form class="form-horizontal form-validation" name="addvmForm">
                                   <div class="form-group">
                                       <div class="col-lg-12">
                                           <label class="control-label">部署环境：</label>
                                           <div class="control-input">
                                               <select class="form-control" ng-model="addData.envId" name="env"  validator="required" ng-change="getApp()" ng-disabled="modalName=='应用编辑'">
                                                   <option value="">--请选择--</option>
                                                   <option ng-repeat="row in masterList" ng-selected="addData.envId==row.id" value="{{row.id}}" ng-bind="row.name"></option>
                                               </select>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                         <div class="col-lg-12" style="margin-bottom:30px" >
                                           <label class="control-label">应用名称：</label>
                                           <div class="control-input special-select m-r-xxs" style="width: calc(100% - 101px);">
                                             <ui-select ng-model="scriptItem.selected" style="margin-bottom:10px"  theme="bootstrap">
                                               <ui-select-match placeholder="选择或者从列表中搜索一个应用">{{$select.selected.name}}</ui-select-match>
                                               <ui-select-choices repeat="item in dataType | filter: $select.search">
                                                 <div ng-bind-html="item.name | highlight: $select.search"></div>
                                               </ui-select-choices>
                                             </ui-select>
                                        
                                           </div>
                                         </div>
                                       <div class="col-lg-12" >
                                         <label class="control-label">脚本内容：</label>
                                           <div class="control-input">

                                             <div class="control-input" ng-code-mirror2="" code-mirror="codeMirror.codeMirror" >
                                             <div class="code-type" data-content="必填项">

                                             </div>
                                             <textarea class="textarea"></textarea>
                                              </div>
                                          </div>
                                       </div>
                                   </div>

                               </form>
                           </div>
                           <div class="modal-footer">
                               <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid"  ng-click="layoutDeploy()">确认</button>

                           </div>
                         </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
