<div class="panel-body pmb-block wwybasic" style="border:none;" >
    <div class="form-horizontal detail_len">
        <div class="">
            <div class="pmbb-header">
                <h5 class="console-title">基本信息</h5>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="form-group">
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <dt>名称：</dt>
                            <dd title="{{supplierDetail.name}}" ng-bind="supplierDetail.name"></dd>
                        </dl>
                    </div>
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                          <dt>类型：</dt>
                          <dd title="{{supplierDetail.type}}" ng-bind="supplierDetail.type"></dd>
                        </dl>
                    </div>
                </div>


                <div class="form-group">
                  <div class="col-lg-6">
                      <dl class="dl-horizontal">
                        <dt>存储路径：</dt>
                        <dd title="{{supplierDetail.filePath}}" ng-bind="supplierDetail.filePath"></dd>
                      </dl>
                  </div>
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <dt>描述：</dt>
                            <div title="{{supplierDetail.remark}}" ng-bind="supplierDetail.remark"></div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="pmbb-header">
                <h5 class="console-title">详细信息</h5>
            </div>
            <div class="pmbb-body p-l-30">
                <div class="form-group">
                    <div class="col-lg-6">
                      <dl class="dl-horizontal">
                          <dt>创建者名称：</dt>
                          <dd title="{{supplierDetail.creatorName}}" ng-bind="supplierDetail.creatorName"></dd>
                      </dl>
                 	 </div>
                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <dt>创建时间：</dt>
                            <dd title="{{supplierDetail.gmtCreate}}" ng-bind="supplierDetail.gmtCreate"></dd>
                        </dl>
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <dt>修改者名称：</dt>
                            <dd title="{{supplierDetail.menderName}}" ng-bind="supplierDetail.menderName"></dd>
                        </dl>
                    </div>
                        <div class="col-lg-6">
                        <dl class="dl-horizontal">
                            <dt>修改时间：</dt>
                            <dd title="{{supplierDetail.gmtModify}}" ng-bind="supplierDetail.gmtModify"></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
