<div class="content-byc image-content" ng-controller="tempinstanceCtrl">
    <div class="animated update-content">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">模板实例化</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBacks()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class=" panel-body" style="min-height:300px;overflow:hidden;">
                            <div style="float:left;width:40%">
                                <div class="row panel pad-10">
                                    <pre style="  border: 1px solid #aaa;  padding: 0.5em 1.5em;" id="json-renderer">{{versionData.fileTemplateContent}}</pre>
                                </div>
                            </div>
                            <div style="float:right;width:58%" class="templateinstance">
                                <form class="form-horizontal form-validation store" name="addvmForm">
                                    <div class="form-group" ng-repeat="item in modelData" ng-if="item.type=='String'">
                                        <div class="col-lg-12">
                                            <label class="control-label">{{item.displayName}}：</label>
                                            <!-- //简单输入框 -->
                                            <div class="control-input">
                                                <input type="text" name="key{{item.name}}" ng-disabled="(modalType =='edit')&&(item.name=='name')" placeholder="{{item.description}}"
                                                    class="form-control" ng-model="item.select" validator="required" maxlength="30"
                                                    maxlength-error-message="最多输入30个字符">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Map -->
                                    <div ng-repeat="item in modelData" ng-if="item.type=='Map'">
                                        <div class="form-group" ng-repeat="(key,mm) in item.value">
                                            <div class="col-lg-12 ">
                                                <label class="control-label">{{item.displayName}}：</label>
                                                <!-- //map输入框 -->
                                                <div class="control-input">
                                                    <div class="col-lg-5 nopadding">
                                                        <input class="form-control " name="key{{key}}" placeholder="key" ng-model="mm.key" maxlength="20" maxlength-error-message="最多输入20个字符"
                                                            type="text" />
                                                    </div>
                                                    <div class="col-lg-5">
                                                        <input class="form-control" name="value{{key}}" placeholder="value" ng-model="mm.value" maxlength="20" maxlength-error-message="最多输入20个字符"
                                                            type="text" />
                                                    </div>
                                                    <div class="col-lg-2 deployFa">
                                                        <a ng-click="addEnvs(item.value)"><i class="fa  fa-plus"></i></a>
                                                        <a ng-click="removeEnv(item.value)"><i class="fa fa-minus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- list -->
                                    <div ng-repeat="item in modelData" ng-if="item.type=='List'">
                                        <div class="form-group" ng-repeat="items in item.value">
                                            <div class="col-lg-12">
                                                <label class="control-label">{{item.displayName}}：</label>
                                                <!-- //list输入框 -->
                                                <div class="control-input ">
                                                    <div class="col-lg-11">
                                                        <input class="form-control " name="key{{key}}" placeholder="{{item.description}}" ng-model="item.select" maxlength="64" maxlength-error-message="最多输入64个字符"
                                                            type="text" />
                                                    </div>
                                                    <div class="col-lg-1 deployFa">
                                                        <a ng-click="addList(item.value)"><i class="fa  fa-plus"></i></a>
                                                        <a ng-click="removeList(item.value)"><i class="fa fa-minus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- select -->
                                    <div class="form-group" ng-repeat="item in modelData" ng-if="item.type=='select'">
                                        <div class="col-lg-12">
                                            <label class="control-label">{{item.displayName}}：</label>
                                            <!-- //select输入框 -->
                                            <div class="control-input">
                                                <select class="form-control" ng-model="item.select" name="key{{item.name}}" validator="required">
                                              <option  value="">--请选择--</option>
                                            <option ng-repeat="items in item.value" ng-selected = "items == item.select" value={{items}} ng-bind="items"></option>
                                          </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- http -->
                                    <div ng-repeat="item in modelData" ng-if="item.type=='Http'">
                                        <div class="form-group" ng-repeat="(key,mm) in item.value">
                                            <div class="col-lg-12">
                                                <label class="control-label">{{item.displayName}}：</label>
                                                <!-- //map输入框 -->
                                                <div class="control-input">
                                                    <div class="col-lg-5 nopadding">
                                                        <select class="form-control" ng-model="mm.key">
                                                  <option  value="">--请选择--</option>
                                                <option ng-repeat="(i,items) in http_request" ng-selected = "i == mm.key" value={{i}} ng-bind="i"></option>
                                              </select>
                                                    </div>
                                                    <div class="col-lg-6 " ng-if="mm.key != 'method'&& mm.key!= 'contentType'">
                                                        <input class="form-control" name="value{{key}}" placeholder="value" ng-model="mm.value" maxlength="64" maxlength-error-message="最多输入64个字符"
                                                            type="text" />
                                                    </div>
                                                    <div class="col-lg-6" ng-if="mm.key == 'method'|| mm.key == 'contentType'">
                                                        <select class="form-control" ng-model="mm.value">
                                                <option  value="">--请选择--</option>
                                                <option ng-repeat="items in http_request[mm.key]" ng-selected = "items == mm.value" value={{items}} ng-bind="items"></option>
                                              </select>
                                                    </div>
                                                    <div class="col-lg-1 deployFa">
                                                        <a ng-click="addEnvs(item.value)"><i class="fa  fa-plus"></i></a>
                                                        <a ng-click="removeEnv(item.value)"><i class="fa fa-minus"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info" validation-submit="addvmForm" ng-disabled="addvmForm.$invalid||isLoadingCheck"
                                        ng-click="ok()">确认</button>
                                    <button class="btn btn-cancel" ng-click="goBacks()">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>