<div class="content-byc image-content" ng-controller="tempverdetailCtrl">
    <div class="animated update-content">
        <div class="wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" style="padding:0;">
                        <div class="panel-heading font-bold">
                            <span class="p-l-6">版本详情</span>
                            <button class="btn btn-default pull-right" style="margin-top: -7px;" ng-click="goBacks()" tabindex="0">
                                <i class="fa fa-reply icon-font"></i> 返回
                            </button>
                        </div>
                        <div class="panel-detail">
                            <div class="image-box">
                                <div class="image-box-h text-center" style="background-color: #fff;">
                                    <div class=" col-md-1">
                                        <p class="small-box-p"><i class="fa fa-cube"></i></p>
                                    </div>
                                    <div class="text-left-p col-md-10">
                                        <p class="text-left-p col-md-4 "><span class="caaa">版本名称：</span><span title="{{versionData.version}}">{{versionData.version}}</span></p>
                                        <p class="text-left-p col-md-4"><span class="caaa">创建人：</span><span title="{{versionData.creatorName}}">{{versionData.creatorName}}</span></p>
                                        <p class="text-left-p col-md-4"><span class="caaa">创建时间：</span><span title="{{versionData.createTime}}">{{versionData.createTime}}</span></p>
                                        <p class="text-left-p col-md-4"><span class="caaa">状态：</span><span ng-class="{'DEPLOY':'dot-8','NOT_DEPLOY':'dot-9'}[row.status]"
                                                title="{{versionData.status}}">{{versionData.status}}</span></p>
                                        <p class="text-left-p col-md-4"><span class="caaa">修改人：</span><span title="{{versionData.menderName}}">{{versionData.menderName}}</span></p>
                                        <p class="text-left-p col-md-4"><span class="caaa">修改时间：</span><span title="{{versionData.modifyTime}}">{{versionData.modifyTime}}</span></p>
                                        <p class="text-left-p col-md-8"><span class="caaa">文件路径：</span><span title="{{versionData.templateFilePath}}">{{versionData.templateFilePath}}</span></p>
                                    </div>
                                    <div class="both"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row  pad-10">
                            <div class="col-md-12">
                                <div style="margin-top: -10px;">
                                    <tabset class="tab-container">
                                        <tab>
                                            <tab-heading>
                                                文件模板
                                            </tab-heading>
                                            <div class="row panel pad-10" style="box-shadow: none;">
                                                <pre style="  border: 1px solid #aaa;  padding: 0.5em 1.5em;" id="json-renderer">{{versionData.fileTemplateContent}}</pre>
                                            </div>
                                        </tab>
                                        <tab>
                                            <tab-heading>
                                                文件描述
                                            </tab-heading>
                                            <div class="row panel pad-10" style="box-shadow: none;">
                                                <pre style="  border: 1px solid #aaa;  padding: 0.5em 1.5em;" id="json-renderer">{{versionData.fileDescContent}}</pre>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>